:root {
  /* color */
  --primary-white: #F2F3FA;
  --primary-black: #312D2D;
  --primary-black-10: #312d2d1a;
  --primary-black-30: #312d2d4d;
  --primary-black-60: #312d2d99;
  --primary-black-70: #312d2db3;
  --primary-accent: #EE3A23;
  --primary-grey: #D8D8D8;
  --primary-bg: #F5F5F5;
  --primary-yellow: #FACA2A;
  --white: #ffffff;
  --white-30: #ffffff4d;
  --white-50: #ffffff80;
  --white-60: #ffffff99;
  --white-80: #ffffffcc;
  --black: #000000;
  /* border-radius */
  --border-r-18: 1.8rem;
}

@font-face {
  font-family: "Winter Sans Trial";
  src: url(./../fonts/WinterSansTrial-ExtraBold.woff2), url(./../fonts/WinterSansTrial-ExtraBold.woff);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Winter Sans Trial";
  src: url(./../fonts/WinterSansTrial-Regular.woff2), url(./../fonts/WinterSansTrial-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Winter Sans Trial";
  src: url(./../fonts/WinterSansTrial-ExtraLight.woff2), url(./../fonts/WinterSansTrial-ExtraLight.woff);
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-Black.woff2), url(./../fonts/Roboto-Black.woff);
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-ExtraBold.woff2), url(./../fonts/Roboto-ExtraBold.woff);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-Bold.woff2), url(./../fonts/Roboto-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-SemiBold.woff2), url(./../fonts/Roboto-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-Medium.woff2), url(./../fonts/Roboto-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-Regular.woff2), url(./../fonts/Roboto-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-Light.woff2), url(./../fonts/Roboto-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-ExtraLight.woff2), url(./../fonts/Roboto-ExtraLight.woff);
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./../fonts/Roboto-Thin.woff2), url(./../fonts/Roboto-Thin.woff);
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

/* libs styles */
.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  margin: 0;
  width: 6rem;
  height: 6rem;
  background-color: var(--primary-accent);
  color: var(--white);
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--primary-black);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev::before {
  transform: scale(-1, -1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.2rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  font-size: 0.5rem;
  left: calc(50% + 13.15rem);
  transform: translateX(-50%);
  bottom: 2.8rem;
  width: fit-content;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet {
  width: 2.5rem;
  height: 0.5rem;
  background-color: var(--primary-accent);
  border-radius: unset;
  opacity: 1;
  transition: width 0.5s ease, background-color 0.2s ease;
}

.swiper-pagination-bullet-active {
  position: relative;
  width: 5rem;
}

.swiper-pagination-bullet-active::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--primary-black);
  animation-name: timeline;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

@keyframes timeline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  --refRes: 1920;
  font-size: calc(100vw / var(--refRes) * 10);
}
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: -0.02em;
  color: var(--primary-black);
  background: var(--primary-bg);
}

section {
  margin-bottom: 6rem;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 176rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.title {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 105%;
  text-transform: uppercase;
}
.title span {
  color: var(--primary-accent);
}

.block-title {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 4.4rem;
  line-height: 105%;
  text-transform: uppercase;
  color: var(--primary-black);
  width: min-content;
}
.block-title span {
  font-weight: 400;
  color: var(--primary-accent);
}

.form-title {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 3.4rem;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
}

a {
  transition: all 0.3s ease;
}

/* buttons */
.btn {
  --button-padding-x: 3rem;
  --button-padding-y: 3rem;
  --button-font-size: 1.4rem;
  --button-color: var(--primary-black);
  --button-bgcolor: var(--primary-accent);
  --button-border-color: var(--primary-accent);
  --button-disabled-opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  line-height: 143%;
  text-align: center;
  transition: all 0.3s ease;
  padding: var(--button-padding-y) var(--button-padding-x);
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  font-size: var(--button-font-size);
  border: 0.1rem solid var(--button-border-color);
}

.btn:hover {
  --button-color: var(--primary-accent);
  background-color: transparent;
}

.btn:disabled {
  opacity: var(--button-disabled-opacity);
}

.btn-outline {
  --button-padding-y: 1.5rem;
  --button-bgcolor: transparent;
  --button-border-color: var(--primary-black);
  max-width: 21.2rem;
  width: 100%;
  height: 5rem;
}

.btn-yellow {
  --button-padding-y: 1.5rem;
  --button-color: var(--primary-black);
  --button-bgcolor: var(--primary-yellow);
  color: var(--button-color);
  border: 0;
  background-color: var(--primary-yellow);
  max-width: 45rem;
  width: 100%;
}

.btn-yellow:hover {
  background-color: var(--white);
  color: var(--primary-black);
}

.btn-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 26.3rem;
  height: 26.3rem;
  padding: 3rem;
  background-color: var(--primary-yellow);
  color: inherit;
  transition: all 0.3s ease;
}
.btn-box span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--primary-black);
}
.btn-box i {
  font-size: 1.1rem;
  line-height: 100%;
  color: var(--white);
}
.btn-box p {
  width: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 110%;
  word-break: break-word;
}
.btn-box:hover {
  background-color: var(--primary-accent);
  color: var(--white);
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: inherit;
  transition: all 0.3s ease;
}
.link i::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  transform: rotate(-90deg);
  background-color: var(--primary-accent);
  overflow: hidden;
  font-size: 0.7rem;
  line-height: 1;
  color: var(--white);
  transition: all 0.3s ease;
}
.link:hover {
  color: var(--primary-accent);
}
.link:hover i::before {
  background-color: var(--primary-black);
}

.component {
  display: block;
  width: 72.708%;
  height: 28.4rem;
  background-color: var(--primary-accent);
  position: absolute;
  bottom: -8.5rem;
  left: 0;
  z-index: -1;
}
.component::before {
  content: "";
  display: block;
  aspect-ratio: 1/1;
  background-image: url(./../images/component/c-2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.slider__btns {
  display: flex;
  gap: 1rem;
}
.slider__btns .swiper-button-prev,
.slider__btns .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--primary-black);
  transition: background-color 0.3s ease;
}
.slider__btns .swiper-button-prev:hover,
.slider__btns .swiper-button-next:hover {
  background-color: var(--primary-accent);
}
.slider__btns .swiper-button-prev::before,
.slider__btns .swiper-button-next::before {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 100%;
}
.slider__btns .swiper-button-prev::after,
.slider__btns .swiper-button-next::after {
  display: none;
}
.slider__btns .swiper-button-prev::before {
  transform: scale(-1, -1);
}

input {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 143%;
  color: var(--white-50);
  width: 100%;
  padding: 0.2rem 5.6rem 2rem 2rem;
  border: 0;
  background: transparent;
  border-bottom: 0.1rem solid var(--white-30);
  transition: all 0.3s ease;
}
input::placeholder, input::-webkit-input-placeholder, input::-moz-placeholder, input:-moz-placeholder, input:-ms-input-placeholder {
  color: var(--white-50);
}
input::placeholder {
  transition: all 0.3s ease;
}
input:hover, input:focus, input:active {
  color: var(--white);
  border-color: var(--white);
}
input:hover::placeholder, input:focus::placeholder, input:active::placeholder {
  color: var(--white);
}
input:invalid {
  color: var(--primary-accent);
  border-color: var(--primary-accent);
}
input:invalid ~ .error {
  display: block;
}

.error {
  display: none;
  font-size: 1rem;
  line-height: 200%;
  padding-left: 2rem;
  color: var(--primary-accent);
}

textarea {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 143%;
  color: var(--white-80);
  width: 100%;
  height: 10rem;
  overflow: hidden;
  padding: 1rem 2rem;
  background: transparent;
  border: 0.1rem solid var(--white-30);
  resize: none;
}
textarea::placeholder, textarea::-webkit-input-placeholder, textarea::-moz-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder {
  color: var(--white-80);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.checkbox__text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.16;
  color: var(--white-50);
  max-width: 30rem;
}
.checkbox__text a {
  color: inherit;
  text-decoration: underline;
}

input[type=checkbox] {
  width: 2.4rem;
  min-width: 2.4rem;
  height: 2.4rem;
  min-height: 2.4rem;
  padding: 0;
  border: 0.4rem solid var(--white);
  border-radius: 0;
  background: var(--primary-black);
  appearance: none;
  position: relative;
}

input[type=checkbox]:checked {
  background: var(--primary-accent);
}

.form__group {
  position: relative;
  width: 100%;
}
.form__group i {
  color: var(--primary-accent);
  font-size: 1.6rem;
  line-height: 100%;
  position: absolute;
  right: 2rem;
  top: 0.4rem;
}

.separator {
  height: 8rem;
  position: relative;
  overflow: hidden;
}
.separator::before {
  content: "";
  display: block;
  width: 35.2rem;
  height: 35.1rem;
  position: absolute;
  top: -17.6rem;
  left: -11.2rem;
  z-index: 1;
  background-image: url(./../images/component/c-4.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.separator::after {
  content: "";
  display: block;
  width: 35.2rem;
  height: 35.1rem;
  position: absolute;
  top: -22.6rem;
  right: -17.7rem;
  z-index: 1;
  background-image: url(./../images/component/c-4.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.separator-yellow {
  background-color: var(--primary-yellow);
}
.separator-accent {
  background-color: var(--primary-accent);
}

.tabs__btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}
.tabs__btn {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 143%;
  text-align: center;
  white-space: nowrap;
  padding: 1.5rem 2rem;
  min-width: 21.2rem;
  width: fit-content;
  height: fit-content;
  border: 0.1rem solid var(--primary-black-30);
  cursor: pointer;
  transition: all 0.3s ease;
}
.tabs__btn.tabs-active {
  background-color: var(--primary-accent);
  color: var(--white);
}
.tabs__btn:hover {
  background-color: var(--primary-black);
  color: var(--white);
}
.tabs__item {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  height: 0;
  position: absolute;
  bottom: 100%;
  z-index: -1000;
}
.tabs__item.tabs-active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  height: auto;
  position: static;
  transition: opacity 0.3s ease;
}

.icon-telegram::before {
  margin-left: -0.2rem;
  margin-bottom: -0.3rem;
}

.icon-whatsapp:before {
  margin-right: -0.1rem;
  margin-bottom: 0rem;
}

.head {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: var(--primary-bg);
  box-shadow: 0px 7px 29.9px rgba(0, 0, 0, 0.15);
}

.header {
  border-bottom: 0.1rem solid var(--primary-black-10);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
  padding: 2rem 0;
}
.header__logo {
  display: block;
  width: 15.2rem;
  height: 8rem;
  flex-shrink: 0;
}
.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__wrap {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header__phone {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 4rem;
  line-height: 120%;
  color: var(--primary-accent);
  white-space: nowrap;
}
.header__phone:hover {
  text-decoration: underline;
}
.header__contact {
  position: relative;
  width: 25rem;
  height: 5rem;
}
.header__contact:hover .header__contact-inner {
  height: auto;
}
.header__contact:hover .header__contact-btn i {
  color: var(--primary-accent);
  transform: scale(-1, -1);
}
.header__contact:hover .header__contact-body {
  grid-template-rows: 1fr;
}
.header__contact:hover .header__contact-list {
  padding-bottom: 2.6rem;
}
.header__contact-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: var(--primary-bg);
  border: 0.1rem solid var(--primary-black-30);
  transition: height 0.3s ease;
}
.header__contact-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.375;
  cursor: pointer;
}
.header__contact-btn i {
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.header__contact-btn:hover i {
  color: var(--primary-accent);
  transform: scale(-1, -1);
}
.header__contact-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease;
}
.header__contact-list {
  overflow: hidden;
}
.header__contact-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}
.header__contact-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.header__contact-item i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: var(--primary-black);
  color: var(--white);
  text-align: center;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  flex-shrink: 0s;
}
.header__contact-link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--primary-black);
  transition: all 0.3s ease;
}
.header__contact-link:hover {
  text-decoration: underline;
}
.header__contact-link:hover + i {
  background-color: var(--primary-accent);
}

.nav__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 4rem;
  height: 7.7rem;
}
.nav__items {
  display: flex;
  align-items: center;
  gap: 1rem 4rem;
}
.nav__item {
  position: relative;
}
.nav__item-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 98%;
  white-space: nowrap;
  cursor: pointer;
}
.nav__item-link:hover {
  color: var(--primary-accent);
}
.nav__item-link:hover i {
  color: var(--primary-black);
}
.nav__item-link i {
  font-size: 1.6rem;
  line-height: 1;
  color: var(--primary-accent);
  position: relative;
}
.nav__item-link i::after {
  content: "";
  display: block;
  height: 3.3rem;
  position: absolute;
  bottom: -3.3rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1.65rem solid transparent;
  border-bottom: 1.65rem solid var(--white);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.nav__item:hover .nav__list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.nav__item:hover .nav__item-link i::after {
  opacity: 1;
  visibility: visible;
}
.nav__list {
  width: 28.3rem;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
  position: absolute;
  top: calc(100% + 3.2rem);
  z-index: 10;
}
.nav__list::after {
  content: "";
  display: block;
  width: 28.3rem;
  height: 3.2rem;
  background-color: transparent;
  position: absolute;
  top: -3.3rem;
}
.nav__list-link {
  display: block;
  padding: 2rem 3rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: inherit;
}
.nav__list li {
  transition: background-color 0.3s ease;
}
.nav__list li:hover {
  background-color: var(--primary-accent);
  color: var(--white);
}
.nav__list li:not(:last-child) {
  border-bottom: 0.1rem solid var(--primary-black-10);
}
.nav__link {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.1875;
  color: var(--primary-accent);
}
.nav__link:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: var(--primary-accent);
  border-radius: 50%;
}
.burger::before {
  content: "";
  display: block;
  width: 1.4rem;
  height: 0.2rem;
  background-color: var(--white);
  position: relative;
  top: -0.2rem;
}
.burger::after {
  content: "";
  display: block;
  width: 1.4rem;
  height: 0.2rem;
  background-color: var(--white);
  position: relative;
  bottom: -0.2rem;
}

.footer__contact {
  padding: 4rem 0 4.5rem;
  background-color: var(--primary-grey);
}
.footer__contact-inner {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 34.7rem;
}
.footer__contact-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__contact-title {
  font-family: "Winter Sans Trial";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.1875;
}
.footer__contact-text {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 120%;
}
.footer__contact-subtext {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.1875;
}
.footer__contact-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__contact-email {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 120%;
  text-decoration: underline;
  color: var(--primary-accent);
}
.footer__contact-email:hover {
  text-decoration: none;
}
.footer__contact-phone {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 14rem;
  line-height: 120%;
  color: var(--primary-accent);
}
.footer__contact-phone:hover {
  text-decoration: underline;
}
.footer__social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  background-color: var(--primary-black);
  color: var(--white);
  transition: all 0.3s ease;
}
.footer__social-link:hover {
  background-color: var(--primary-accent);
}
.footer__social-link i {
  font-size: 2rem;
  line-height: 1;
}
.footer__menu {
  padding: 4rem 0;
}
.footer__menu-inner {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: relative;
}
.footer__menu-inner::after {
  content: "";
  display: block;
  width: 80.681rem;
  height: 42.9rem;
  background-image: url(./../images/logo/logo-icon.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: -18rem;
  bottom: -1.5rem;
}
.footer__menu-list {
  font-size: 1.6rem;
  line-height: 98%;
  max-width: 26.3rem;
  width: 100%;
}
.footer__menu-item:not(:last-child) {
  margin-bottom: 3rem;
}
.footer__menu-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: inherit;
}
.footer__menu-title:hover {
  color: var(--primary-accent);
}
.footer__menu-link {
  font-weight: 400;
  color: var(--primary-black-70);
}
.footer__menu-link:hover {
  color: var(--primary-accent);
}
.footer__bottom {
  background-color: var(--primary-black);
  position: relative;
  z-index: 2;
}
.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 8rem;
}
.footer__bottom-text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 167%;
  color: var(--primary-white);
  white-space: nowrap;
}
.footer__bottom-text:last-child {
  text-align: right;
}
.footer__bottom-text a {
  color: inherit;
}
.footer__bottom-logo {
  width: 23.1rem;
  height: 3.7rem;
  object-fit: cover;
  flex-shrink: 0;
}
.footer__bottom-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  background-color: var(--white);
}
.hero__container {
  max-width: 192rem;
  padding: 0;
}
.hero__inner {
  display: flex;
  flex-direction: row;
}
.hero__btns {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero__slider {
  width: calc(100% - 60rem - 20.9rem);
  position: relative;
}
.hero__slider-item {
  width: 100%;
  height: 100%;
  min-height: 81.7rem;
  padding: 9rem 0 9rem 12rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__slider-title {
  margin-bottom: 4rem;
}
.hero__slider-title span {
  color: var(--primary-accent);
}
.hero__slider-subtitle {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 98%;
  color: var(--primary-black-60);
}
.hero__slider-btn {
  position: absolute;
  left: 0;
  bottom: 0;
}
.hero__feat {
  width: 80.9rem;
  padding: 0 20.9rem 0 0;
  overflow: hidden;
}
.hero__feat-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}
.hero__feat-list::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
  background-color: var(--primary-accent);
  background-image: url(./../images/component/c-2.svg);
  background-repeat: no-repeat;
  background-size: auto calc(100% + 0.3rem);
  background-position: -0.3rem -0.3rem;
}
.hero__feat-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 5rem;
  border: 0.1rem solid var(--primary-black-10);
  background-color: var(--white);
}
.hero__feat-item:nth-child(even) {
  border-right: 0;
}
.hero__feat-img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  flex-shrink: 0;
}
.hero__feat-text {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;
  color: var(--primary-black-70);
}

.about {
  margin-bottom: 14.5rem;
}
.about__inner {
  display: flex;
  flex-direction: row;
  position: relative;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 85rem;
  padding-right: 3rem;
}
.about__content-text {
  font-family: "Winter Sans Trial";
  font-style: normal;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 105%;
}
.about__content-text span {
  font-weight: 800;
  color: var(--primary-accent);
}
.about__title {
  position: absolute;
  bottom: -1.5rem;
  left: -28.3rem;
  z-index: 1;
  color: var(--white);
}
.about__body {
  width: 83rem;
  height: 66.6rem;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feat__title {
  margin-bottom: 3.7rem;
}
.feat .swiper-wrapper {
  gap: 4rem 30.2rem;
  flex-direction: row;
}
.feat .swiper-slide {
  max-width: 54.7rem;
  width: 100%;
  height: calc((100% - 4rem) / 2) !important;
}
.feat .swiper-slide:nth-child(3), .feat .swiper-slide:nth-child(4) {
  margin: 0 0 0 auto;
}
.feat .swiper-slide:nth-child(2)::after {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 16rem);
  background-color: var(--primary-yellow);
}
.feat .swiper-slide:nth-child(3) {
  right: -16rem;
}
.feat .swiper-slide:nth-child(3)::after {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(100% + 16rem);
  background-color: var(--primary-black);
}
.feat__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.feat__block {
  width: 100%;
  height: 35rem;
  background-color: var(--primary-grey);
  margin-bottom: 4rem;
  position: relative;
}
.feat__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feat__num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 14rem;
  background-color: var(--primary-accent);
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 110%;
  text-align: center;
  color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
}
.feat__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 0 0 3rem;
  border-left: 0.1rem solid var(--primary-black);
}
.feat__content-title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 142%;
}
.feat__content-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
}

.case__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.case__thumbs {
  overflow: hidden;
}
.case__thumbs-item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--primary-white);
}
.case__head {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 54.6rem;
  padding: 6rem 0 0;
}
.case__head-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.case__head-title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 100%;
}
.case__head-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.1875;
}
.case__head-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.case__head-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 1rem);
  height: 8.7rem;
  background-color: var(--primary-accent);
}
.case__head-img {
  width: auto;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.case__slider {
  overflow: hidden;
  position: relative;
}
.case__slider .swiper-wrapper {
  position: static;
}
.case__slider .swiper-slide {
  position: static;
  opacity: 0;
  visibility: hidden;
}
.case__slider .swiper-slide .case__body-video {
  transform: translateX(-100%);
  transition: all 0.4s ease;
  opacity: 0;
}
.case__slider .swiper-slide-active {
  opacity: 1;
  visibility: visible;
}
.case__slider .swiper-slide-active .case__body-video {
  transform: translateX(0);
  opacity: 1;
}
.case__slider .swiper-slide-active + .swiper-slide .case__body-video {
  transform: translateX(100%);
}
.case__slider .swiper-slide .case__body-img {
  transition: all 0.6s ease;
}
.case__body {
  width: calc(100% - 56.6rem + 14rem);
  padding: 0 14rem 14rem 14rem;
  background-color: var(--primary-yellow);
  margin-right: -14rem;
  position: relative;
}
.case__body::before {
  content: "";
  display: block;
  width: 9rem;
  height: 9rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(./../images/component/c-2.svg);
  background-repeat: no-repeat;
  background-size: 12.8rem 12.5rem;
  background-position: -0.1rem -0.3rem;
}
.case__body-content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.case__body-items {
  display: flex;
  gap: 4rem;
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: fit-content;
}
.case__body-item {
  display: flex;
  gap: 2rem;
}
.case__body-icon {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  flex-shrink: 0;
}
.case__body-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.case__body-wrap p {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 120%;
  text-transform: lowercase;
}
.case__body-wrap span {
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 105%;
  text-transform: uppercase;
}
.case__body-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--primary-accent);
}
.case__body-btn p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 110%;
  color: var(--white);
}
.case__body-video {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 5rem;
  left: 0;
}
.case__body-video i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--primary-black);
  color: var(--primary-accent);
  font-size: 1.4rem;
  line-height: 100%;
}
.case__body-video span {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 110%;
  width: min-content;
}
.case__body-pic {
  width: 83rem;
  height: 100%;
  margin: 0 0 0 auto;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.case__body-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.case__foot {
  margin-top: -8rem;
  width: 100%;
  position: relative;
  z-index: 1;
}
.case__foot-items {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.case__foot-item {
  padding: 3rem;
  background-color: var(--primary-black);
  color: var(--white);
  width: calc(50% - 1rem);
}
.case__foot-title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 142%;
  margin-bottom: 2rem;
}
.case__foot-count {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 8rem;
  line-height: 105%;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.case__foot-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  color: var(--white-60);
  max-width: 64rem;
}

.tenants__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-bottom: 4rem;
}
.tenants__item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  border: 0.1rem solid var(--primary-black-10);
}
.tenants__item-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 22.2rem;
  background-color: var(--primary-black-10);
}
.tenants__item-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.tenants__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.tenants__content-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tenants__content-img {
  width: 6rem;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}
.tenants__content-wrap {
  display: flex;
  flex-direction: column;
}
.tenants__content-wrap p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
}
.tenants__content-wrap span {
  font-weight: 800;
  font-size: 3.4rem;
  line-height: 105%;
  text-transform: uppercase;
}
.tenants .swiper-pagination {
  position: relative;
  bottom: unset;
  left: unset;
  transform: unset;
  margin: 2rem auto 0 auto;
}

.request__inner {
  background-color: var(--primary-black);
  padding: 6rem 14rem 7rem;
  position: relative;
  overflow: hidden;
}
.request__inner::after {
  content: "";
  display: block;
  width: 63.6rem;
  height: 63.5rem;
  position: absolute;
  right: -31.8rem;
  bottom: -27.1rem;
  background-image: url(./../images/component/c-3.svg);
  background-repeat: no-repeat;
  background-size: 63.6rem 63.5rem;
  background-position: 100%;
}
.request__title {
  margin-bottom: 4rem;
  text-align: left;
}
.request__form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.request__form-wrap {
  display: flex;
  gap: 2rem;
}
.request__form-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.path__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}
.path__item {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.path__item-num {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 12rem;
  line-height: 105%;
  -webkit-text-stroke: 0.1rem var(--primary-black);
  color: transparent;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}
.path__item-img {
  margin-top: -10.3rem;
  max-width: 40.5rem;
  width: 100%;
  height: 40.5rem;
  flex-shrink: 0;
  position: relative;
}
.path__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.path__item-img::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: -116.5px;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--primary-black);
  border-radius: 50%;
}
.path__item-img::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  display: block;
  width: 233px;
  height: 0.3rem;
  background-image: url(./../images/component/dashed.svg);
  background-repeat: repeat;
  background-size: cover;
  background-position: 100% 100%;
}
.path__item-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.path__item-title {
  display: flex;
  gap: 1rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 100%;
}
.path__item-title::before {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
  background-color: var(--primary-accent);
}
.path__item-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  max-width: 37rem;
}
.path .swiper-slide-active .path__item-num {
  -webkit-text-stroke: 0.1rem var(--primary-accent);
  color: var(--primary-accent);
}
.path .swiper-slide:nth-last-child(3) .path__item-img::before,
.path .swiper-slide:nth-last-child(3) .path__item-img::after {
  display: none;
}
.stage .component {
  width: 27.34375%;
  height: 21.2rem;
  background-color: var(--primary-black);
  bottom: 12.7rem;
}
.stage .component::before {
  left: -3.1rem;
}
.stage__title {
  margin-bottom: 3rem;
  max-width: 38rem;
  width: 100%;
}
.stage__items {
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  grid-template-rows: repeat(17, 1fr);
  gap: 2rem;
  aspect-ratio: 27/17;
}
.stage__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  padding: 3rem 3rem 4rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.stage__item:hover {
  background-color: var(--primary-accent);
}
.stage__item:hover .stage__item-elem {
  transform: rotate(180deg);
}
.stage__item:hover i::before {
  content: "\e909";
}
.stage__item:hover .stage__item-body {
  grid-template-rows: 1fr;
  padding-top: 2rem;
}
.stage__item:hover .stage__item-title {
  color: var(--white);
}
.stage__item:hover .stage__item-text {
  color: var(--white);
}
.stage__item-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1rem;
}
.stage__item-num {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 105%;
}
.stage__item-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid var(--primary-black-30);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.stage__item-elem i {
  font-size: 1.4rem;
  line-height: 100%;
  transition: all 0.3s ease;
}
.stage__item-title {
  max-width: 35.5rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  transition: all 0.3s ease;
}
.stage__item-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease;
}
.stage__item-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  overflow: hidden;
  transition: all 0.3s ease;
}
.stage__item:nth-child(1) {
  grid-column: 1/11;
  grid-row: 1/11;
}
.stage__item:nth-child(2) {
  grid-column: 11/18;
  grid-row: 1/8;
}
.stage__item:nth-child(3) {
  grid-column: 18/28;
  grid-row: 1/11;
}
.stage__item:nth-child(4) {
  grid-column: 11/18;
  grid-row: 8/15;
}
.stage__item:nth-child(5) {
  grid-column: 18/25;
  grid-row: 11/18;
}

.geo__title {
  margin-bottom: 4rem;
}
.geo__content {
  position: relative;
  width: 100%;
  height: 80rem;
}
.geo__pic {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.geo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.geo__items {
  width: 100%;
  height: 100%;
  position: relative;
}
.geo__item {
  position: absolute;
}
.geo__item-nsk {
  top: 37.5%;
  left: 58.57%;
}
.geo__item-tomsk {
  top: 16.125%;
  left: 67.083%;
}
.geo__item-kemerovo {
  top: 33.5%;
  left: 70.893%;
}
.geo__item-omsk {
  top: 37.5%;
  left: 18.75%;
}
.geo__item-pavlodar {
  top: 76.625%;
  left: 33.809%;
}
.geo__item-altay {
  top: 79.375%;
  left: 71.071%;
}
.geo__item-abakan {
  top: 56.875%;
  left: 92.67857%;
}
.geo__item-abakan .geo__item-list {
  right: 0;
}
.geo__item-unknown {
  top: 37.75%;
  left: 35.29762%;
}
.geo__item-content {
  position: relative;
}
.geo__item:hover .geo__item-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.geo__item:hover .geo__item-circle::before,
.geo__item:hover .geo__item-circle::after {
  opacity: 1;
  visibility: visible;
}
.geo__item-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: 0.5rem solid var(--white);
  background-color: var(--primary-accent);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 98%;
  color: var(--white);
  cursor: pointer;
}
.geo__item-circle::before {
  content: "";
  display: block;
  height: 1rem;
  position: absolute;
  top: calc(100% - 1.28rem);
  left: 50%;
  transform: translateX(-50%);
  border: 1.65rem solid transparent;
  border-bottom: 1.65rem solid var(--white);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.geo__item-circle::after {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  background-color: transparent;
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.geo__item-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;
  top: calc(100% + 1rem);
  z-index: 1;
  width: max-content;
  padding: 1rem 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
}
.geo__item-list p {
  font-weight: 600;
}
.geo__item-list span {
  font-weight: 400;
}
.geo__item-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.contact-us__inner {
  padding: 6rem 10rem 4.6rem 14rem;
  background-color: var(--primary-black);
  position: relative;
}
.contact-us__inner::before {
  content: "";
  display: block;
  width: 27.5rem;
  height: 27.5rem;
  position: absolute;
  top: 0;
  right: -12.3rem;
  background-image: url(./../images/component/c-1.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.contact-us__inner::after {
  content: "";
  display: block;
  width: 63rem;
  height: 16rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(./../images/component/form-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.contact-us__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-us__content {
  max-width: 60rem;
  color: var(--white);
}
.contact-us__title {
  margin-bottom: 3rem;
  font-weight: 400;
}
.contact-us__title span {
  font-weight: 800;
}
.contact-us__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  max-width: 54.3rem;
}
.contact-us__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 54.6rem;
}
.contact-us__form-wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contact-us__form-bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact-us__textarea {
  height: 20rem;
}
.contact-us__btn {
  max-width: 100%;
}

.adv__title {
  margin-bottom: 4rem;
}
.adv__content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.adv__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  line-height: 120%;
  width: 68.8rem;
}
.adv__head-content {
  padding: 6rem 14rem 18.6rem;
  background-color: var(--primary-accent);
}
.adv__head-title {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.adv__head-text {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.adv__head-link {
  color: var(--primary-black);
  width: fit-content;
}
.adv__head-link:hover {
  color: var(--white);
}
.adv__head-link:hover i::before {
  background-color: var(--white);
  color: var(--primary-accent);
}
.adv__head-link i::before {
  background-color: var(--primary-black);
}
.adv__slider {
  width: 54.4rem;
  height: 35.5rem;
  margin-top: -10.5rem;
  overflow: hidden;
}
.adv__slider-item {
  width: 100%;
  height: 100%;
}
.adv__slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.adv__body {
  width: 97.2rem;
  height: fit-content;
}
.adv__thumbs-item {
  border-top: 0.1rem solid var(--primary-black-10);
  padding: 3rem 0;
}
.adv__thumbs-head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6rem;
  position: relative;
  padding: 0 0 0 14rem;
}
.adv__thumbs-num {
  font-family: "Winter Sans Trial";
  font-weight: 800;
  font-size: 10rem;
  line-height: 105%;
  text-transform: uppercase;
  position: absolute;
  top: -1.5rem;
  left: 4rem;
}
.adv__thumbs-title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 120%;
}
.adv__thumbs-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: var(--primary-black);
  color: var(--white);
  flex-shrink: 0;
  font-size: 1rem;
  line-height: 100%;
  transition: all 0.5s ease;
}
.adv__thumbs-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.5s ease;
}
.adv__thumbs-content {
  padding: 0 0 0 14rem;
  overflow: hidden;
}
.adv__thumbs-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
}
.adv__thumbs .swiper-wrapper {
  flex-direction: column;
  border-bottom: 0.1rem solid var(--primary-black-10);
}
.adv .swiper-slide-thumb-active .adv__thumbs-icon {
  background-color: var(--primary-accent);
  transform: rotate(180deg);
}
.adv .swiper-slide-thumb-active .adv__thumbs-icon i::before {
  content: "\e909";
}
.adv .swiper-slide-thumb-active .adv__thumbs-body {
  grid-template-rows: 1fr;
}
.adv .swiper-slide-thumb-active .adv__thumbs-content {
  padding: 2rem 0 0 14rem;
}

@media (min-width: 1921px) {
  html {
    font-size: calc(10px + 0 * (100vw - var(--refRes) * 1px) / var(--refRes));
  }
}
@media (max-width: 768px) and (min-width: 520px) {
  .header__phone {
    font-size: 3.4rem;
  }
}
@media (max-width: 1440px) {
  section {
    margin-bottom: 5rem;
  }
  input {
    padding: 0.2rem 3.6rem 2rem 1rem;
  }
  .error {
    padding-left: 1rem;
  }
  .request__inner::after {
    display: none;
  }
  .request__inner {
    padding: 6rem 16rem;
  }
  .request__title {
    font-size: 2.4rem;
    line-height: 142%;
    margin-bottom: 3rem;
  }
  .request__form {
    gap: 2rem;
  }
  .path__item-content {
    gap: 3rem;
  }
  .path__item-title {
    font-size: 2rem;
  }
  .path__item-text {
    font-size: 1.4rem;
  }
  .contact-us__title {
    font-size: 4.4rem;
  }
  .footer__bottom-inner {
    height: 6rem;
  }
}
@media (max-width: 1200px) {
  .path__item-img {
    max-width: unset;
  }
  .path__item-img::before {
    right: -54px;
  }
  .path__item-img::after {
    width: 108px;
  }
}
@media (max-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 50%;
  }
  .btn-box {
    width: 14rem;
    height: 14rem;
    padding: 2rem 2rem 2rem 1rem;
  }
  .btn-box p {
    font-size: 1.2rem;
  }
  .btn-box span {
    width: 3rem;
    height: 3rem;
  }
  .btn-box i {
    font-size: 0.6rem;
  }
  .tabs__btns {
    flex-wrap: nowrap;
    overflow-x: auto;
    width: calc(100% + 8rem);
    margin-left: -4rem;
    padding: 0 4rem;
  }
  .tabs__btn {
    width: 100%;
    padding: 1.5rem 6.7rem;
    min-width: fit-content;
  }
  section {
    margin-bottom: 3rem;
  }
  .component {
    height: 11.8rem;
    bottom: -2.8rem;
  }
  .block-title {
    font-size: 3.4rem;
  }
  .separator::before,
  .separator::after {
    display: none;
  }
  .link {
    font-size: 1.2rem;
  }
  .header {
    border: 0;
  }
  .header__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .header__logo {
    width: 11.3rem;
    height: auto;
  }
  .header__contact {
    display: none;
  }
  .burger {
    display: flex;
    margin-left: auto;
  }
  .nav {
    display: none;
  }
  .hero__inner {
    flex-direction: column;
  }
  .hero__slider {
    width: 100%;
  }
  .hero__slider-item {
    padding: 6rem 4rem;
    min-height: 56.4rem;
  }
  .hero__slider-title {
    margin-bottom: 2rem;
    font-size: 4.4rem;
  }
  .hero__slider-subtitle {
    font-size: 1.6rem;
  }
  .hero__feat {
    width: 100%;
    padding: 0 4rem;
  }
  .hero__feat-list::after {
    display: none;
  }
  .hero__feat-item {
    width: 25%;
    padding: 3rem 1rem 4rem 0;
    gap: 2rem;
    border: 0;
  }
  .hero__feat-text {
    font-size: 1.6rem;
  }
  .about {
    margin-bottom: 7.6rem;
  }
  .about__inner {
    flex-direction: column;
  }
  .about__content {
    width: 100%;
    gap: 2rem;
    padding: 0;
  }
  .about__title {
    font-size: 3.4rem;
  }
  .about__content-text {
    font-size: 2.4rem;
  }
  .about__body {
    max-width: 42.2rem;
    width: 63.337%;
    height: auto;
    margin: -2.4rem 0 0 auto;
  }
  .about__title {
    left: -0.2rem;
    bottom: -0.8rem;
    max-width: 27.6rem;
  }
  .feat .swiper-wrapper {
    gap: 0;
  }
  .feat .swiper-slide {
    width: calc(50% - 2rem) !important;
  }
  .feat .swiper-slide:nth-child(3) {
    right: 0;
  }
  .feat .swiper-slide:nth-child(2)::after,
  .feat .swiper-slide:nth-child(3)::after {
    display: none;
  }
  .feat__block {
    height: 21.3rem;
    margin-bottom: 2.5rem;
  }
  .feat__num {
    width: 8rem;
    height: 8rem;
    font-size: 3.4rem;
  }
  .feat__content {
    padding: 0 0 0 1rem;
    gap: 1.5rem;
  }
  .feat__content-title {
    font-size: 1.6rem;
  }
  .feat__content-text {
    font-size: 1.2rem;
  }
  .feat .swiper-slide:nth-child(3),
  .feat .swiper-slide:nth-child(4) {
    margin: 0;
  }
  .case__item {
    flex-direction: column;
    gap: 3rem;
  }
  .case__head {
    padding: 3rem 0 0;
    width: 100%;
    gap: 2rem;
  }
  .case__head-title {
    font-size: 1.6rem;
  }
  .case__head-img {
    width: 100%;
    height: auto;
  }
  .case__body {
    width: calc(100% + 8rem);
    margin-right: -4rem;
    margin-left: -4rem;
    padding: 0 0 12.8rem;
  }
  .case__body::before {
    display: none;
  }
  .case__head-item {
    width: calc(25% - 1.5rem);
    height: 5.2rem;
  }
  .case__head-content {
    gap: 1.5rem;
  }
  .case__thumbs-item {
    gap: 2rem;
  }
  .case__foot {
    margin-top: -13.8rem;
  }
  .case__foot-item {
    padding: 2rem;
  }
  .case__foot-title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .case__foot-count {
    font-size: 4.4rem;
    margin-bottom: 1.5rem;
  }
  .case__foot-text {
    font-size: 1.2rem;
  }
  .case__body-content {
    padding: 0 4rem;
  }
  .case__body-items {
    top: 3rem;
    left: 9rem;
    gap: 1rem;
    justify-content: space-between;
    width: 46%;
  }
  .case__body-item {
    gap: 1rem;
  }
  .case__body-icon {
    width: 5rem;
    height: 5rem;
  }
  .case__body-wrap {
    gap: 0.5rem;
  }
  .case__body-wrap p {
    font-size: 1.2rem;
  }
  .case__body-wrap span {
    font-size: 2.4rem;
  }
  .case__body-video {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    top: 3rem;
    right: 9rem;
    left: unset;
  }
  .case .hero__btns {
    right: 4rem;
  }
  .adv__content {
    flex-direction: column;
    gap: 3rem;
  }
  .adv__head {
    width: 100%;
  }
  .adv__head-content {
    width: 100%;
    padding: 3rem 2rem 29.6rem;
  }
  .adv__head-title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .adv__head-text {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    max-width: 45rem;
  }
  .adv__head-link {
    font-size: 1.6rem;
  }
  .adv__slider {
    margin-top: -26.5rem;
    max-width: 51.1rem;
    width: 100%;
    max-height: 33.3rem;
    height: 100%;
    min-height: 30.6rem;
  }
  .adv__slider-item {
    width: auto;
  }
  .adv__slider-img {
    width: auto;
  }
  .adv__body {
    width: 100%;
  }
  .adv__thumbs-item {
    padding: 2rem 0;
  }
  .adv__thumbs-head {
    padding: 0 0 0 5rem;
  }
  .adv__thumbs-num {
    top: 0;
    left: 0;
    font-size: 5rem;
  }
  .adv__thumbs-title {
    font-size: 1.6rem;
  }
  .adv__thumbs-text {
    font-size: 1.4rem;
  }
  .adv__thumbs .swiper-slide-thumb-active .adv__thumbs-content {
    padding: 1rem 0 0 5rem;
  }
  .adv__thumbs-content {
    padding: 0 0 0 5rem;
  }
  .request__inner {
    padding: 3rem 9rem;
  }
  .request__title {
    max-width: 25rem;
    margin-bottom: 2rem;
  }
  .request__form-wrap {
    flex-direction: column;
    gap: 1.5rem;
  }
  .request__textarea {
    display: none;
  }
  .request__btn {
    max-width: 100%;
  }
  .request__form-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }
  .path__item-content {
    gap: 1rem;
  }
  .path__item-title::before {
    width: 1.6rem;
    height: 1.6rem;
  }
  .path__item-title {
    font-size: 1.6rem;
    width: 230px;
  }
  .path__item-text {
    font-size: 1.2rem;
  }
  .tenants__item {
    padding: 2.5rem;
    gap: 2rem;
  }
  .tenants .swiper-slide {
    width: 33.4rem;
  }
  .tenants__item-head {
    min-height: auto;
  }
  .tenants__content {
    gap: 1.5rem;
  }
  .tenants__content-img {
    width: 4rem;
  }
  .tenants__content-wrap p {
    font-size: 1.2rem;
  }
  .tenants__content-wrap span {
    font-size: 2.4rem;
  }
  .tenants .swiper-pagination {
    left: unset;
  }
  .stage .component {
    display: none;
  }
  .stage__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .stage__item {
    gap: 3rem;
    padding: 2rem;
  }
  .stage__item-title {
    font-size: 2.4rem;
  }
  .stage__item-wrap {
    margin: 0;
  }
  .stage__item-elem {
    width: 4rem;
    height: 4rem;
  }
  .path__item {
    gap: 2rem;
  }
  .path__item-num {
    font-size: 6rem;
  }
  .path__item-img {
    max-height: 24.6rem;
    margin-top: -4.6rem;
  }
  .geo {
    display: none;
  }
  .geo__content {
    height: 50rem;
  }
  .geo__pic {
    display: flex;
    align-items: center;
  }
  .geo__img {
    height: auto;
  }
  .geo__item-nsk {
    top: 35.4%;
    left: 61.482558%;
  }
  .geo__item-tomsk {
    top: 15%;
    left: 74.273%;
  }
  .geo__item-kemerovo {
    top: 30.2%;
    left: 79.65%;
  }
  .geo__item-omsk {
    top: 35.4%;
    left: 2.32558%;
  }
  .geo__item-pavlodar {
    top: 73.8%;
    left: 23.837%;
  }
  .geo__item-altay {
    top: 78.2%;
    left: 78.9244%;
  }
  .geo__item-abakan {
    display: none;
  }
  .geo__item-unknown {
    top: 33%;
    left: 25.7267%;
  }
  .contact-us__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .contact-us__inner {
    padding: 4rem 9rem 8rem;
  }
  .contact-us__title {
    margin-bottom: 2rem;
  }
  .contact-us__form-wrap {
    gap: 1.5rem;
  }
  .contact-us__textarea {
    height: 11rem;
  }
  .contact-us__form-bottom {
    gap: 0.8rem;
  }
  .contact-us__inner::before {
    right: -20.5rem;
  }
  .contact-us__inner::after {
    width: 21.7rem;
    height: 5.5rem;
  }
  .contact-us__text {
    display: none;
  }
  .footer__contact {
    padding: 3rem 0;
  }
  .footer__contact-inner {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .footer__contact-list {
    gap: 2rem;
  }
  .footer__contact-item {
    gap: 1rem;
  }
  .footer__contact-phone {
    font-size: 3.4rem;
    line-height: 100%;
  }
  .footer__contact-title {
    font-size: 1.2rem;
  }
  .footer__contact-subtext {
    font-size: 1.2rem;
  }
  .footer__menu {
    padding: 3rem 0;
  }
  .footer__menu-inner::after {
    width: 56.485%;
    height: 68.607%;
    right: -4.161rem;
    bottom: -4.1rem;
    background-size: cover;
  }
  .footer__menu-inner {
    display: grid;
    grid-template-columns: 18.6rem 18.6rem;
    gap: 3rem 8rem;
  }
  .footer__menu-list {
    max-width: 18.6rem;
    height: fit-content;
    font-size: 1.2rem;
  }
  .footer__menu-list:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .footer__menu-list:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .footer__menu-list:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .footer__menu-list:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .footer__menu-item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .footer__bottom-logo {
    display: none;
  }
  .footer__bottom-inner {
    height: 5rem;
    gap: unset;
  }
}
@media (max-width: 660px) {
  .case__body-items {
    justify-content: unset;
    gap: 5rem;
    width: auto;
  }
  .case__body-video {
    display: none;
  }
}
@media (max-width: 600px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    transform: unset;
    right: 1rem;
    left: unset;
    bottom: 2rem;
  }
  .title {
    font-size: 3.4rem;
    word-break: break-word;
  }
  .container {
    padding: 0 1rem;
  }
  .header__logo {
    width: 10.3rem;
  }
  .hero__container {
    padding: 0;
  }
  .hero__slider-item {
    padding: 5.6rem 1rem;
  }
  .hero__feat {
    padding: 4rem 1rem 2rem;
  }
  .hero__feat-list {
    gap: 4rem 3rem;
  }
  .hero__feat-item {
    width: calc(50% - 1.5rem);
    padding: 0;
  }
  .hero__btns {
    display: none;
  }
  .about__inner {
    gap: 3rem;
  }
  .about__body {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  .case__head-items {
    gap: 1rem;
  }
  .case__head-item {
    width: calc(50% - 0.5rem);
  }
  .case__head-img {
    width: auto;
    height: 100%;
  }
  .case__item {
    gap: 2rem;
  }
  .case__body {
    width: calc(100% + 2rem);
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .case__body-content {
    padding: 0 1rem;
  }
  .case__body-items {
    top: 2rem;
    left: 3rem;
    gap: 1rem;
  }
  .case__foot-items {
    flex-direction: column;
    gap: 1rem;
  }
  .case__foot-item {
    width: 100%;
  }
  .case .hero__btns {
    display: flex;
    right: 1rem;
  }
  .feat .swiper-wrapper {
    gap: unset;
    flex-direction: unset;
    margin-bottom: 3rem;
  }
  .feat .swiper-slide {
    max-width: 28.4rem !important;
    width: 100% !important;
  }
  .feat .swiper-horizontal > .swiper-pagination-bullets,
  .feat .swiper-pagination-bullets.swiper-pagination-horizontal,
  .feat .swiper-pagination-custom,
  .feat .swiper-pagination-fraction {
    position: relative;
    right: 0;
    bottom: unset;
    margin: 0 0 0 auto;
  }
  .tenants .swiper-pagination {
    right: unset;
    bottom: unset;
  }
  .tenants .swiper-slide {
    width: 28.4rem;
  }
  .adv__head-content {
    padding: 2rem 2rem 29.6rem;
  }
  .request__inner {
    padding: 3rem 2rem;
  }
  .request__form-wrap {
    gap: 0.8rem;
  }
  .path__item-img {
    aspect-ratio: 1/1;
    min-height: 18.6rem;
    max-height: 18.6rem;
  }
  .component {
    height: 13.6rem;
    bottom: -4.6rem;
  }
  .component::before {
    display: none;
  }
  .tabs__btns {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    gap: 1rem;
    padding: 0 1rem;
  }
  .contact-us__inner {
    padding: 3rem 2rem;
  }
  .contact-us__body {
    gap: 3.7rem;
  }
  .contact-us__title {
    max-width: 28.8rem;
  }
  .contact-us__text {
    display: block;
    font-size: 1.2rem;
  }
  .contact-us__textarea {
    display: none;
  }
  .contact-us__inner::before {
    display: none;
  }
  .contact-us__inner::after {
    display: none;
  }
  .footer__menu-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 1rem;
  }
  .footer__menu-inner::after {
    right: -3.1rem;
  }
}
@media (max-width: 520px) {
  .header__phone {
    display: none;
  }
}