@font-face {
  font-family: 'Winter Sans Trial';
  src: url(./../fonts/WinterSansTrial-ExtraBold.woff2),
    url(./../fonts/WinterSansTrial-ExtraBold.woff);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Winter Sans Trial';
  src: url(./../fonts/WinterSansTrial-Regular.woff2),
    url(./../fonts/WinterSansTrial-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Winter Sans Trial';
  src: url(./../fonts/WinterSansTrial-ExtraLight.woff2),
    url(./../fonts/WinterSansTrial-ExtraLight.woff);
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Black.woff2),
    url(./../fonts/Roboto-Black.woff);
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-ExtraBold.woff2),
    url(./../fonts/Roboto-ExtraBold.woff);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Bold.woff2),
    url(./../fonts/Roboto-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-SemiBold.woff2),
    url(./../fonts/Roboto-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Medium.woff2),
    url(./../fonts/Roboto-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Regular.woff2),
    url(./../fonts/Roboto-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Light.woff2),
    url(./../fonts/Roboto-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-ExtraLight.woff2),
    url(./../fonts/Roboto-ExtraLight.woff);
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./../fonts/Roboto-Thin.woff2),
    url(./../fonts/Roboto-Thin.woff);
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}