/* libs styles */
.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  margin: 0;
  width: 6rem;
  height: 6rem;
  background-color: var(--primary-accent);
  color: var(--white);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--primary-black);
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.2rem;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  font-size: 0.5rem;
  left: calc(50% + 13.15rem);
  transform: translateX(-50%);
  bottom: 2.8rem;
  width: fit-content;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet {
  width: 2.5rem;
  height: 0.5rem;
  background-color: var(--primary-accent);
  border-radius: unset;
  opacity: 1;
  transition: width 0.5s ease, background-color 0.2s ease;
}

.swiper-pagination-bullet-active {
  position: relative;
  width: 5rem;
  // background-color: var(--primary-black);
}

.swiper-pagination-bullet-active::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--primary-black);
  animation-name: timeline;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes timeline {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

// #smooth-content {
//   border-top: 1px solid transparent;
//   border-bottom: 1px solid transparent;
// }