@media (min-width: 1921px) {
  html {
    $ratio: 0;
    font-size: calc(10px + ($ratio * 10) * ((100vw - var(--refRes) * 1px) / var(--refRes)));
  }
}

@media screen and (min-width: 769px) {
  .stage__item:hover {
    background-color: var(--primary-accent);

    .stage__item-elem {
      transform: rotate(180deg);
    }

    i::before {
      content: "\e90b";
      font-size: 2.4rem;
    }

    .stage__item-body {
      grid-template-rows: 1fr;
      padding-top: 2rem;
    }

    .stage__item-title {
      color: var(--white);
    }

    .stage__item-text {
      color: var(--white);
    }
  }
}

@media (max-width: 1440px) and (min-width: 769px) {}

@media (max-width: 768px) and (min-width: 520px) {
  .header__phone {
    font-size: 2.4rem;
  }
}

@media (max-width: 1440px) {
  section {
    margin-bottom: 5rem;
  }

  .form-input {
    padding: 0.2rem 3.6rem 2rem 1rem;
  }

  .form-textarea {
    padding: 1rem;
    height: 12.2rem;
  }

  .error {
    padding-left: 1rem;
  }

  .request__inner::after {
    display: none;
  }

  .request__inner {
    padding: 6rem 16rem;
  }

  .request__title {
    font-size: 2.4rem;
    line-height: 142%;
    margin-bottom: 3rem;
  }

  .request__form {
    gap: 2rem;
  }

  .path__item-content {
    gap: 3rem;
  }

  .path__item-title {
    font-size: 2rem;
  }

  .path__item-text {
    font-size: 1.4rem;
  }

  .contact-us__title {
    font-size: 4.4rem;
  }

  .footer__bottom-inner {
    height: 6rem;
  }
}

@media (max-width: 1200px) {
  .path__item {
    padding-right: 10.8rem;
  }

  .path__item-img {
    max-width: unset;
  }

  .path__item-img::before {
    right: calc((10.8rem / 2) * -1);
  }

  .path__item-img::after {
    width: 10.8rem;
  }
}

@media (max-width: 991px) {}

@media (max-width: 768px) {

  .create {
    height: 44.6rem;
  }

  .create__inner {
    padding: 5rem 0;
  }

  .create__head {
    gap: 2rem;
    max-width: 48rem;
  }

  .create__head-title {
    font-size: 3.4rem;
  }

  .create__head-text {
    font-size: 1.4rem;
  }

  .create__items {
    gap: 2rem;
  }

  .create__item::before {
    width: 3rem;
    height: 3rem;
  }

  .create__item-count {
    font-size: 2.4rem;
  }

  .create__item-text {
    font-size: 1.4rem;
  }

  .create_s__img {
    height: 50rem;
  }

  .create_s__content {
    padding: 2rem 1rem 3rem;
    width: 50%;
  }

  .create_s__content-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .create_s__content-text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .create_s .advan__head-icon {
    width: 5.2rem;
    height: 4rem;
    margin-bottom: 2rem;
  }

  .create_s__content-name {
    font-size: 1.4rem;
  }

  .create_s__content-post {
    font-size: 1.4rem;
  }

  .create_s__content::before {
    width: 10.8rem;
    height: 10.9rem;
    right: -4rem;
  }

  .create_s__img {
    right: 0.8rem;
    width: 100%;
    height: auto;
  }

  .create_s__block {
    display: flex;
    align-items: flex-end;
    background: linear-gradient(to top, var(--primary-black) 62.6%, transparent 37.4%);
    width: 50%;
  }

  .create_f .swiper-slide:nth-child(4),
  .create_f .swiper-slide:nth-child(5),
  .create_f .swiper-slide:nth-child(6) {
    padding-top: 0;
  }

  .create_f .swiper-slide {
    width: 33.4rem;
  }

  .create_f__item {
    gap: 2rem;
  }

  .create_f__item-wrap {
    height: 21.3rem;
  }

  .create_f__item-count {
    width: 8rem;
    height: 8rem;
    font-size: 3.4rem;
  }

  .create_f__item-text {
    padding-left: 1rem;
    font-size: 1.6rem;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom {
    left: 50%;
  }

  .swiper-pagination-fraction {
    left: 1rem;
    bottom: 12.8rem;
    font-size: 5rem;
    letter-spacing: -0.5rem;
  }

  .btn-box {
    width: 14rem;
    height: 14rem;
    padding: 2rem 2rem 2rem 1rem;
  }

  .btn-box p {
    font-size: 1.2rem;
  }

  .btn-box span {
    width: 3rem;
    height: 3rem;
  }

  .btn-box i {
    font-size: 0.6rem;
  }

  .mob-block {
    display: block;
  }

  .tabs__btns {
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .tabs__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 1.5rem;
    min-width: unset;
    white-space: unset;
  }

  section {
    margin-bottom: 3rem;
  }

  .component {
    height: 11.8rem;
    bottom: -2.8rem;
  }

  .block-title {
    font-size: 3.4rem;
  }

  .separator::before,
  .separator::after {
    display: none;
  }

  .link {
    font-size: 1.2rem;
  }

  .wrapper {
    // padding: 8rem 0 6.4rem;
    padding: 8rem 0 6.4rem;
  }

  .head {
    height: 8rem;
  }

  .header {
    border: 0;
  }

  .header__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;
    padding: 1.6rem 0;
  }

  .head.fixed .header__inner {
    padding: 1.6rem 0;
  }

  .header__logo {
    height: 3rem;
  }

  .header__contact {
    display: none;
  }

  .burger {
    display: flex;
    margin-left: auto;
  }

  .nav {
    display: none;
  }

  .hero__inner {
    flex-direction: column;
  }

  .hero__content {
    width: 100%;
  }

  .hero__slider-item {
    padding: 6rem 4rem;
    min-height: 56.4rem;
  }

  .hero__slider-title {
    margin-bottom: 2rem;
    font-size: 4.4rem;
  }

  .hero__slider-subtitle {
    font-size: 1.6rem;
  }

  .hero__feat {
    width: 100%;
    padding: 0 4rem;
  }

  .hero__feat-list::after {
    display: none;
  }

  .hero__feat-item {
    width: 25%;
    padding: 3rem 1rem 4rem 0;
    gap: 2rem;
    border: 0;
  }

  .hero__feat-text {
    font-size: 1.6rem;
  }

  .about {
    margin-bottom: 7.6rem;
  }

  .about__inner {
    flex-direction: column;
  }

  .about__content {
    width: 100%;
    gap: 2rem;
    padding: 0;
  }

  .about__title {
    font-size: 3.4rem;
  }

  .about__content-text {
    font-size: 2.4rem;
  }

  .about__body {
    max-width: 42.2rem;
    width: 63.337%;
    height: auto;
    margin: -2.4rem 0 0 auto;
  }

  .about__title {
    left: -0.2rem;
    bottom: -0.8rem;
    max-width: 27.6rem;
  }

  .feat .swiper-wrapper {
    gap: 0;
  }

  .feat .swiper-slide {
    width: calc(50% - 2rem) !important;
  }

  .feat .swiper-slide:nth-child(3) {
    right: 0;
  }

  .feat .swiper-slide:nth-child(2)::after,
  .feat .swiper-slide:nth-child(3)::after {
    display: none;
  }

  .feat__block {
    height: 21.3rem;
    margin-bottom: 2.5rem;
  }

  .feat__num {
    width: 8rem;
    height: 8rem;
    font-size: 3.4rem;
  }

  .feat__content {
    padding: 0 0 0 1rem;
    gap: 1.5rem;
  }

  .feat__content-title {
    font-size: 1.6rem;
  }

  .feat__content-text {
    font-size: 1.2rem;
  }

  .feat .swiper-slide:nth-child(3),
  .feat .swiper-slide:nth-child(4) {
    margin: 0;
  }

  .case {
    margin-bottom: 9.6rem;
  }

  .case__item {
    flex-direction: column;
    gap: 3rem;
  }

  .sample-page .case__head {
    padding: 3rem 0 0;
  }

  .case__head {
    padding: 3rem 0 0;
    width: 100%;
    gap: 2rem;
  }

  .case__head-title {
    font-size: 1.6rem;
  }

  .case__head-img {
    width: 100%;
    height: auto;
  }

  .sample-page .case__head-text,
  .case__head-text {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .objects .case__head-text {
    -webkit-line-clamp: none;
  }

  .objects .advan__slider-wrap {
    margin: -21.6rem 0 0;
    width: 100%;
    height: auto;
  }

  .objects .advan__head-content {
    height: 24.6rem;
    padding: 3rem 9rem 0 9rem;
  }

  .objects .advan__head-content::before {
    width: 8rem;
    height: 8rem;
  }

  .rent .advan__title {
    width: 100%;
  }

  .rent .advan__head-content {
    padding: 2rem 3rem 10rem 3rem;
    height: 45.6rem;
  }

  .rent .advan__head-content::before {
    display: none;
  }

  .rent .advan__slider-wrap {
    margin-top: -26.6rem;
  }

  .rent .advan__slider-wrap {
    width: 100%;
  }

  .rent .tenants .swiper-pagination {
    display: none;
  }

  .rent .tenants .block-title {
    width: min-content;
  }

  .rent .geo__img {
    width: auto;
    height: 100%;
  }

  .case__body {
    width: calc(100% + 8rem);
    margin-right: -4rem;
    margin-left: -4rem;
    // padding: 0 4rem;
    padding: 0 0 12.8rem;
  }

  .case__body::before {
    display: none;
  }

  .case__head-item {
    width: calc(25% - 1.5rem);
    height: 5.2rem;
  }

  .case__head-content {
    gap: 1.5rem;
  }

  .objects .case,
  .sample-page .case {
    margin-bottom: 29rem;
  }

  .titles__inner {
    padding: 3rem 0;
  }

  .titles__title.title {
    font-size: 3.4rem;
  }

  .control .case__title {
    max-width: 38.2rem;
    width: 100%;
    top: -7rem;
  }

  .sample-page .case__head-content:last-child {
    margin: 0;
  }

  .objects .case__foot,
  .sample-page .case__foot {
    bottom: -26rem;
  }

  .objects .case__foot-items,
  .sample-page .case__foot-items {
    flex-wrap: wrap;
  }

  .objects .case__foot-item,
  .sample-page .case__foot-item {
    width: calc(50% - 1rem);
  }

  .case__thumbs-item {
    gap: 2rem;
  }

  .case__foot {
    bottom: -6.6rem;
  }

  .case__foot-item {
    padding: 2rem;
  }

  .case__foot-title {
    font-size: 1.6rem;
    line-height: 100%;
    margin-bottom: 1.5rem;
  }

  .case__foot-count {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }

  .case__foot-text {
    font-size: 1.2rem;
    max-width: 32.4rem;
  }

  .case__body-content {
    padding: 0 4rem;
  }

  .case__body-items {
    top: 3rem;
    left: 9rem;
    // gap: 5rem;
    gap: 1rem;
    justify-content: space-between;
    width: 46%;
  }

  .case__body-item {
    gap: 1rem;
  }

  .case__body-icon {
    width: 5rem;
    height: 5rem;
  }

  .case__body-wrap {
    gap: 0.5rem;
  }

  .case__body-wrap p {
    font-size: 1.2rem;
  }

  .case__body-wrap span {
    font-size: 2.4rem;
  }

  .case__body-video {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    top: 3rem;
    right: 9rem;
    left: unset;
  }

  .case__body-btn {}

  .case .hero__btns {
    right: 4rem;
  }

  .advan__content {
    flex-direction: column;
    gap: 3rem;
  }

  .advan__title {
    margin-bottom: 2rem;
  }

  .advan__head {
    width: 100%;
  }

  .control .advan__head {
    position: static;
  }

  .advan__head-content {
    width: 100%;
    padding: 3rem 2rem 29.6rem;
  }

  .advan__head-title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .advan__head-icon {
    margin-bottom: 1.5rem;
  }

  .advan__head-text {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    max-width: 45rem;
  }

  .advan__head-link {
    font-size: 1.6rem;
  }

  .investments .advan__head-link {
    // display: flex;
  }

  .investments.sample-page .about .component::before {
    display: none;
  }

  .investments.sample-page .about__title {
    left: unset;
  }

  .advan__slider-wrap {
    margin-top: -26.5rem;
    max-width: 51.1rem;
    width: 100%;
    max-height: 33.3rem;
    height: 100%;
    min-height: 30.6rem;
  }

  .advan__slider {}

  .advan__slider-item {
    width: auto;
  }

  .advan__slider-img {
    width: auto;
  }

  .advan__body {
    width: 100%;
  }

  .advan__thumbs-item {
    padding: 2rem 0;
    min-height: unset;
  }

  .advan__thumbs-head {
    padding: 0 0 0 5rem;
  }

  .control .advan__thumbs-num {
    top: -1rem;
    right: calc(100% - 4rem);
    left: 0;
    font-size: 5rem;
    text-align: right;
    width: 5rem;
    height: max-content;
    margin-left: -1rem;
  }

  .advan__thumbs-num {
    top: 0;
    left: 0;
    font-size: 5rem;
  }

  .advan__thumbs-title {
    font-size: 1.6rem;
  }

  .advan__thumbs ul {}

  .advan__thumbs li::before {
    top: 0.4rem;
  }

  .advan__thumbs p,
  .advan__thumbs li {
    font-size: 1.4rem;
  }

  .advan .swiper-slide-active .advan__thumbs-content {
    padding: 1rem 0 0 5rem;
  }

  .advan__thumbs-content {
    padding: 0 0 0 5rem;
  }

  .separator {
    height: 4rem;
  }

  .request__inner {
    padding: 3rem 9rem;
  }

  .request__title {
    max-width: 25rem;
    margin-bottom: 2rem;
  }

  .request__form-wrap {
    flex-direction: column;
    gap: 1.5rem;
  }

  .request__textarea {
    display: none;
  }

  .request__btn {
    max-width: 100%;
  }

  .request__form-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .path__item-content {
    gap: 1rem;
  }

  .projects .path__item-title::before,
  .path__item-title::before {
    width: 1.6rem;
    height: 1.6rem;
  }

  .projects .path__item-title {
    font-size: 1.6rem;
    width: 100%;
  }

  .path__item-title {
    font-size: 1.6rem;
    width: 23rem;
  }

  .path__slider .swiper-slide:last-child {
    display: none;
  }

  .projects .path__item-text {
    display: none;
  }

  .path__item-text {
    font-size: 1.2rem;
  }

  .projects__btn {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
  }

  .projects__address-count {
    font-size: 2rem;
  }

  .projects .swiper-slide:nth-last-child(3) .path__item-img::before,
  .projects .swiper-slide:nth-last-child(3) .path__item-img::after,
  .path__item-img::before:not(.create-page .path__item-img::before),
  .path__item-img::after:not(.create-page .path__item-img::after) {
    display: none;
  }

  .slider__btns {
    display: none;
  }

  .tenants .slider__btns {
    display: flex;
    flex-direction: row;
  }

  .tenants__head {
    margin-bottom: 2rem;
  }

  .tenants__item {
    padding: 2.5rem;
    gap: 2rem;
  }

  .tenants .swiper-slide {
    width: 33.4rem;
  }

  .tenants__item-head {}

  .tenants__content {
    gap: 1.5rem;
  }

  .tenants__content-img {
    width: 4rem;
  }

  .tenants__content-wrap p {
    font-size: 1.2rem;
  }

  .tenants__content-wrap span {
    font-size: 2.4rem;
  }

  .tenants .swiper-pagination {
    display: block;
    left: unset;
  }

  .stage .component {
    display: none;
  }

  .stage__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .stage__item {
    gap: 3rem;
    padding: 2rem;
  }

  .stage__item-title {
    font-size: 1.6rem;
  }

  .stage__item-text {
    font-size: 1.4rem;
  }

  .stage__item-wrap {
    margin: 0;
  }

  .stage__item-num {}

  .stage__item-elem {
    width: 4rem;
    height: 4rem;
  }

  .projects .path__item,
  .path__item {
    gap: 2rem;
  }

  .path__item-num {
    font-size: 6rem;
  }

  .projects .path__item-img {
    max-height: unset;
    height: unset;
    aspect-ratio: 1/1;
  }

  .path__item-img {
    max-height: 24.6rem;
    margin-top: -4.6rem;
  }

  .geo__content {
    height: 50rem;
  }

  .geo__block {
    width: 33.4rem;
    gap: 1.5rem;
    padding: 5rem 1rem 1rem;
  }

  .geo__block-close {
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
  }

  .geo__block-close::before,
  .geo__block-close::after {
    width: 2.4rem;
  }

  .geo__block-content {
    gap: 1.5rem;
  }

  .geo__block-btn {
    line-height: 3rem;
    padding: 0.5rem;
    height: 5rem;
  }

  .geo__block-count {
    font-size: 2.4rem;
  }

  .geo {
    // display: none;
  }

  .geo__pic {
    display: flex;
    align-items: center;
    // top: 50%;
    // transform: translateY(-50%);
  }

  .geo__img {
    height: 100%;
  }

  .geo__item-nsk {
    top: 35.4%;
    left: 61.482558%;
  }

  .geo__item-tomsk {
    top: 15%;
    left: 74.273%;
  }

  .geo__item-kemerovo {
    top: 30.2%;
    left: 79.65%;
  }

  .geo__item-omsk {
    top: 35.4%;
    left: 2.32558%;
  }

  .geo__item-pavlodar {
    top: 73.8%;
    left: 23.837%;
  }

  .geo__item-altay {
    top: 78.2%;
    left: 78.9244%;
  }

  .geo__item-abakan {
    display: none;
  }

  .geo__item-unknown {
    top: 33%;
    left: 25.7267%;
  }

  .contact-us__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .contact-us__inner {
    padding: 4rem 9rem 8rem;
  }

  .contact-us__title {
    margin-bottom: 2rem;
  }

  .contact-us__form-wrap {
    gap: 1.5rem;
  }

  .contact-us__textarea {
    height: 11rem;
  }

  .form__bottom {
    gap: 0.8rem;
  }

  .modal .form__bottom {
    gap: 1.5rem;
  }

  .contact-us__inner::before {
    right: -20.5rem;
  }

  .contact-us__inner::after {
    width: 21.7rem;
    height: 5.5rem;
  }

  .contact-us__text {
    display: none;
  }

  .footer__contact:not(.menu__style) {
    padding: 3rem 0;
  }

  .footer__contact-inner:not(.menu__style) {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .footer__contact-list:not(.menu__style) {
    gap: 2rem;
  }

  .footer__contact-item:not(.menu__style) {
    gap: 1rem;
  }

  .footer__contact-phone:not(.menu__style) {
    font-size: 3.4rem;
    line-height: 100%;
  }

  .footer__contact-title:not(.menu__style) {
    font-size: 1.2rem;
  }

  .footer__contact-subtext:not(.menu__style) {
    font-size: 1.2rem;
  }

  .footer__menu {
    padding: 3rem 0;
  }

  .footer__menu-inner::after {
    width: 56.485%;
    height: 68.607%;
    right: -4.161rem;
    bottom: -4.1rem;
    background-size: cover;
  }

  .footer__menu-inner {
    display: grid;
    grid-template-columns: 18.6rem 18.6rem;
    gap: 3rem 8rem;
  }

  .footer__menu-list {
    max-width: 18.6rem;
    height: fit-content;
    font-size: 1.2rem;
  }

  .footer__menu-list:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .footer__menu-list:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .footer__menu-list:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .footer__menu-list:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .footer__menu-item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .footer__bottom-logo {
    display: none;
  }

  .footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
    padding: 1rem 0;
    gap: 0.5rem;
  }

  .footer__bottom-text:last-child {
    text-align: left;
    margin: 0;
  }

  /* service */
  .service {
    height: auto;
  }

  .service__inner {
    flex-direction: column;
  }

  .service__head {
    width: 100%;
    padding: 4rem 5rem 15.6rem 4rem;
    background-size: 53.6rem 11.8rem;
  }

  .service__title a {
    font-size: 6rem;
  }

  .service__body {
    width: 100%;
    height: 46.6rem;
  }

  .service__blocks {
    gap: 2rem;
  }

  .sample-page .service-list__title {
    margin-bottom: 2rem;
  }

  .sample-page .service__item {
    margin-top: 5rem;
    padding: 2rem 3rem 6rem 2rem;
    width: calc(50% + 21rem);
    height: auto;
    min-height: 25.6rem;
    margin-right: -21rem;
    justify-content: flex-start;
  }

  .service__item {
    margin-top: 5rem;
    padding: 2rem 3rem 8rem 2rem;
    width: calc(50% + 21rem);
    margin-right: -21rem;
    justify-content: flex-start;
  }

  .sample-page .service__item::before {
    top: unset;
    bottom: 0;
    width: 5rem;
    height: 5rem;
  }

  .service__content {
    gap: 1.5rem;
    width: calc(100% - 21rem);
  }

  .sample-page .service__content-title,
  .service__content-title {
    font-size: 2.4rem;
  }

  .service__content-text {
    font-size: 1.2rem;
  }

  .service__item::before {
    width: 5rem;
    height: 5rem;
    left: -2rem;
  }

  .service__block.yellow .service__item::before {
    right: -2rem;
  }

  .service__block.yellow .service__item {
    justify-content: flex-end;
    margin-right: unset;
    margin-left: -21rem;
    z-index: -1;
  }

  .sample-page .service__pic {
    width: 50%;
    height: auto;
  }

  .service__pic {
    height: auto;
  }

  .service__pic-img {
    height: 24.7rem;
    margin-bottom: auto;
  }

  .main-inner .title {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }

  /* review */
  .review {
    padding-top: 3rem;
  }

  .review .tenants__item,
  .review__item {
    width: calc(50% - 1rem);
    padding: 1rem;
    gap: 1.5rem;
  }

  .review__item-wrap {
    gap: 1.5rem;
  }

  .review__item-title {
    font-size: 1.6rem;
  }

  .review__item-text {
    font-size: 1.2rem;
  }

  .review__item-name {
    font-size: 1.2rem;
  }

  .review__item-post {
    font-size: 1rem;
  }

  .review__item-solutions {
    font-size: 1rem;
  }

  /* licenses */
  .licenses {
    padding-top: 3rem;
  }

  .licenses__title {
    margin-bottom: 2rem;
  }

  .licenses__item {
    width: calc(50% - 1rem);
  }

  .licenses__item-icon {
    width: 13.5rem;
    height: 13.6rem;
    margin-bottom: 4rem;
  }

  .licenses__item-title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .licenses__item .link {
    font-size: 1.6rem;
  }

  /* vacancy */
  .vacancy {
    padding-top: 3rem;
  }

  .vacancy__item {
    background-color: transparent;
    padding: 0 0 2rem;
    border-bottom: 0.1rem solid var(--primary-black-10);
  }

  .vacancy__head-title {
    font-size: 1.6rem;
  }

  .vacancy__head-link {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .vacancy__head-text {
    font-size: 1.2rem;
  }

  .vacancy__body-title {
    font-size: 1.2rem;
  }

  .vacancy__body-list li {
    font-size: 1.2rem;
  }

  .vacancy__body-list li::before {
    top: 0.3rem;
  }

  .vacancy__body-btn {
    margin-top: 0;
  }

  .vacancy__item.active .vacancy__content {
    padding: 2rem 0 1rem;
  }

  .vacancy__tabs {
    margin-bottom: 2rem;
  }

  .vacancy .tabs__btns {
    flex-wrap: wrap;
  }

  .vacancy .tabs__btn {
    width: calc(33.33333% - 0.66666rem);
  }

  /* contacts */
  .contacts__inner {
    flex-direction: column;
  }

  .contacts__head {
    width: 100%;
    padding: 3rem 0;
  }

  .contacts__items {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    max-width: 100%;
  }

  .contacts__item {
    gap: 1.5rem;
    grid-column: 1/2;
    width: auto;
  }

  .contacts__item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .contacts__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 32.8rem;
  }

  .contacts__item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .contacts__item:nth-child(odd) {
    width: auto;
  }

  .contacts__item:nth-child(5) .contacts__item-title {
    font-size: 1.6rem;
  }

  .contacts__item-title {
    font-size: 1.4rem;
  }

  .contacts__item-text,
  .contacts__item-link {
    font-size: 2.4rem;
  }

  .contacts__item-list {
    font-size: 1.2rem;
  }

  .contacts__social-link {
    width: 2.4rem;
    height: 2.4rem;
  }

  .contacts__social-link i {
    font-size: 2.4rem;
  }

  .contacts__body {
    width: calc(100% + 8rem);
    height: 54.7rem;
    margin-left: -4rem;
  }

  .preview__item {
    font-size: 6.4rem;
  }

  .preview__item:nth-child(3) {
    font-size: 16rem;
  }

  /* modal */
  .modal__box {
    max-width: 32.1rem;
    padding: 4rem 2rem 3rem;
  }

  .modal__close-btn {
    width: 3rem;
    height: 3rem;
    top: 1rem;
  }

  .modal__close-btn::before,
  .modal__close-btn::after {
    width: 2.2rem;
  }

  .modal__title {
    font-size: 2.4rem;
    width: auto;
  }

  .modal .form {
    gap: 1rem;
  }

  .form__head {
    gap: 1rem;
  }

  .form__wrap {
    gap: 2rem;
  }

  .modal#modal-social .modal__box {
    max-width: 37rem;
  }

  .warning__inner {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }

  .warning__text {
    font-size: 1.2rem;
    text-align: center;
  }

  .warning__btn {
    max-width: 30rem;
  }

  .link i::before {
    // font-size: 0.5rem;
    font-size: 0.8rem;
  }

  /* sample */
  .sample {
    height: auto !important;
    background-image: none;
  }

  .rent .sample {
    height: auto;
    background-size: 43.2rem 10.1rem;
    background-position-x: 12rem;
    background-position-y: 25.6rem;
  }

  .construction .sample {
    background-size: 86.4rem 20.2rem;
    background-position-x: 21.9rem;
    background-position-y: 23.8rem;
  }

  .construction .catalogues__item-wrap {
    gap: 0.5rem;
  }

  .construction .catalogues__item-text {
    font-size: 2rem;
  }

  .control .sample {
    height: auto;
    background-size: 43.2rem 10.1rem;
    background-position-x: 21.7rem;
    background-position-y: 26rem;
  }

  .rent .sample__head,
  .sample__head {
    padding: 3rem 0 3rem 4rem;
    gap: 3rem;
    width: calc(50% + 2rem);
  }

  .sample__title {
    font-size: 3.4rem;
    font-weight: 400;

    span {
      font-weight: 800;
    }
  }

  .sample__feat {
    padding: 0 2.4rem 0 0;
  }

  .sample__feat-items {
    gap: 1.5rem 2rem;
    flex-wrap: wrap;
  }

  .sample__feat-img {
    width: 3rem;
    height: 3rem;
  }

  .sample__feat-title {
    font-size: 2.4rem;
  }

  .sample__feat-text {
    font-size: 1.6rem;
  }

  .sample__feat-subtitle {
    font-size: 2rem;
  }

  .sample__feat-item {
    min-width: unset;
    width: calc(50% - 1rem);
  }

  .sample__body {
    padding: 0 4rem 0 3rem;
    width: calc(50% - 2rem);
  }

  .projects .path__inner {
    gap: 2rem 0;
  }

  .projects .slider__btns {
    display: flex;
  }

  .projects .path__head {
    width: 50%;
  }

  .projects__title {
    display: flex;
    flex-direction: column;
  }

  .catalogs .sample {
    background: linear-gradient(to bottom, var(--primary-accent) 94.68%, var(--primary-black) 5.32%);
  }

  .catalogs .sample::before {
    width: 28.5rem;
    height: 28.9rem;
    top: 0;
    bottom: unset;
  }

  .catalogs .sample__inner {
    height: 79rem;
    flex-direction: column;
  }

  .catalogs .sample__items {
    gap: 2rem;
    justify-content: space-between;
  }

  .catalogs .sample__item {
    min-width: 33%;
    width: 17.3rem;
  }

  .catalogs .sample__item-count {
    font-size: 5.4rem;
    white-space: nowrap;
  }

  .catalogs .sample__item-text {
    font-size: 1.6rem;
  }

  .catalogs .sample__img {
    width: 87.3rem;
    height: 54.3rem;
    left: -4.9rem;
    bottom: 16.7rem;
  }

  .catalogues__items {
    gap: 2rem;
  }

  .catalogues__item {
    width: calc(50% - 1rem);
    gap: 2rem;
  }

  .catalogues__item-title {
    font-size: 1.6rem;
  }

  .catalogues__head {
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .catalogues__filter {
    gap: 1rem;
  }

  .catalogues__filter-item,
  .catalogues__filter-btn,
  .dropdown {
    width: calc(33.33333% - 0.66666rem);
    min-width: unset;
    height: 5rem;
  }

  .dropdown__button {
    min-width: unset;
    width: 100%;
  }

  .catalogs__list-count {
    font-size: 1.6rem;
  }

  .catalogs__list-text {
    font-size: 1.2rem;
  }

  .catalogs__list-item {
    gap: 1rem;
  }

  .sample-feat__title {
    margin-bottom: 2rem;
  }

  .sample-feat__items {
    gap: 2rem 5rem;
    flex-wrap: wrap;
    border-bottom: 0;
  }

  .sample-feat__item {
    max-width: 21rem;
    width: 100%;
    padding: 0;
    gap: 3rem;
    border-right: 0;
  }

  .sample-feat__item:nth-child(3) {
    margin: 0 0 0 auto;
  }

  .sample-feat__item-img {
    height: 8rem;
  }

  .sample-feat__item-title {
    font-size: 1.6rem;
  }

  .control .sample-feat__items {
    gap: 4rem;
  }

  .control .sample-feat__item {
    width: calc(25% - 3rem);
  }

  .control .sample-feat__item:nth-child(3) {
    margin: 0;
  }

  .plan {
    padding: 4rem 0;
  }

  .plan::before {
    display: none;
  }

  .plan__head {
    grid-row: 1 / 3;
  }

  .plan__title {
    font-size: 2.4rem;
  }

  .form-file {
    margin-bottom: -1rem;
    flex-wrap: wrap;
  }

  .notfound__title {
    font-size: 5rem;
  }

  .notfound__count {
    font-size: 25rem;
    margin: 0;
  }

  .notfound__text {
    font-size: 3.5rem;
    position: relative;
    z-index: 2;
  }

  .notfound__img {
    bottom: 1.4rem;
    right: 0;
    left: unset;
    height: 30rem;
  }

  .create-page .tenants__head {
    margin-bottom: 1rem;
  }

  .create-page .tenants .swiper-pagination {
    display: none;
  }

  .create-page .projects__wrap-btn {
    --button-padding-x: 1.35rem;
  }

  // .create-page .path__slider .swiper-slide {
  .path__slider .swiper-slide {
    max-width: 35.4rem;
  }

  .review__item .tenants__content {
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .review__item .tenants__content-item {
    gap: 0.5rem;
  }
}

@media (max-width: 660px) {
  .header__phone {
    display: none;
  }

  .case {
    margin-bottom: 16.8rem;
  }

  .objects .case {
    margin-bottom: 37rem;
  }

  .case__body-items {
    justify-content: unset;
    gap: 5rem;
    width: auto;
  }

  .case__body:not(.objects .case__body) {
    width: calc(100% + 2rem);
    margin-right: -1rem;
    margin-left: -1rem;
    padding: 0 0 32.2rem;
  }

  .objects .swiper-pagination {
    display: none;
  }

  .objects .case__body {
    padding: 0 0 32.2rem;
  }

  .case__body-video {
    top: unset;
    bottom: -8rem;
    right: unset;
    left: 1rem;
  }

  .objects .case__body-video {
    top: unset;
    bottom: -8rem;
    right: unset;
    left: 4rem;
  }

  .objects .advan__head-content {
    padding: 2rem 2rem 0;
    height: 13.7rem;
  }

  .objects .advan__head-content::before {
    display: none;
  }

  .objects .advan__slider-wrap {
    max-width: calc(100% - 4rem);
    width: 100%;
    margin: -11.7rem 0 0;
    height: auto;
    min-height: unset;
  }

  .case__foot {
    bottom: -13.8rem;
  }

  .objects .case__foot {
    bottom: -34rem;
  }

  .case__foot-items {
    flex-direction: column;
    gap: 1rem;
  }

  .case__foot-count {
    font-size: 4.4rem;
  }

  .sample-page .case {
    margin-bottom: 34rem;
  }

  .objects .case__foot-item,
  .sample-page .case__foot-item,
  .case__foot-item {
    width: 100%;
  }

  .sample-page .case__foot {
    bottom: -32rem;
  }

  .service__head {
    padding: 3rem 2rem 12.6rem 2rem;
  }

  .sample__inner {
    flex-direction: column;
  }

  .rent .sample__head,
  .sample__head {
    width: 100%;
    gap: 2rem;
    padding: 3rem 1rem 4rem;
  }

  .rent .sample__head {
    padding: 3rem 1rem 6rem;
  }

  .sample__body {
    width: calc(100% + 8rem);
    margin-right: 0;
    margin-left: -4rem;
  }

  .sample__body-img {
    max-width: 29rem;
  }

  .sample__feat-items {
    gap: 2rem 4rem;
  }

  .sample__feat-item {
    width: calc(50% - 2rem);
  }

  .sample__feat-subtitle {
    font-size: 2.4rem;
  }

  .projects .path__head {
    width: 100%;
  }

  .projects .path__inner {
    flex-direction: column;
  }

  .projects__wrap {
    justify-content: space-between;
    order: 3;
  }

  .catalogues__item-count {
    width: 5rem;
    height: 5rem;
    font-size: 3.4rem;
  }

  .catalogues__item-body {
    gap: 1rem;
  }

  .create-page .projects__wrap {
    width: 100%;
  }
}

@media (max-width: 600px) {

  .create_s__content,
  .create_s__block {
    width: 100%;
  }

  .create {
    height: auto;
  }

  .create__inner {
    gap: 4rem;
  }

  .create__items {
    flex-wrap: wrap;
  }

  .create__item {
    width: calc(50% - 1rem);
  }

  .create_s__inner {
    flex-direction: column;
  }

  .create_s__block {
    justify-content: flex-end;
    position: relative;
  }

  .create_s__block::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 15.2rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }

  .create_s__img {
    height: 34.4rem;
    width: auto;
  }

  .create_s__content {
    padding: 2rem 2rem 3rem;
  }

  .create_s__wrap {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    padding: 2rem;
  }

  .create_s .create_s__wrap .advan__head-icon {
    width: 3.6rem;
    height: 2.8rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAzNiAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMTQuODk2NiA1LjM4MzRDOS45MzEwMyA1Ljg2MjUxIDYuMzk3ODggNy4yOTk4NyA2LjY4NDM1IDEyLjQ3NDNDNy4xNjE4IDEyLjI4MjcgNy43MzQ3NSAxMi4yODI3IDguNDk4NjcgMTIuMjgyN0MxMy4zNjg3IDEyLjI4MjcgMTYuMTM3OSAxNS4xNTc0IDE2LjEzNzkgMjAuMDQ0NEMxNi4xMzc5IDI1LjEyMyAxMy4zNjg3IDI4LjA5MzYgOC4zMDc2OSAyNy45OTc4QzMuNTMzMTYgMjcuOTAxOSAwIDI1LjEyMyAwIDE2LjQ5ODlDMCA5LjEyMDUxIDIuMTk2MjkgLTAuNDYxODM3IDE0Ljg5NjYgMC4wMTcyODA2VjUuMzgzNFpNMTkuODYyMSAxNi40OTg5QzE5Ljg2MjEgOS4xMjA1MSAyMi4wNTg0IC0wLjQ2MTgzNyAzNC43NTg2IDAuMDE3MjgwNlY1LjM4MzRDMjkuNzkzMSA1Ljg2MjUxIDI2LjI1OTkgNy4yOTk4NyAyNi41NDY0IDEyLjQ3NDNDMjcuMDIzOSAxMi4yODI3IDI3LjU5NjggMTIuMjgyNyAyOC4zNjA3IDEyLjI4MjdDMzMuMjMwOCAxMi4yODI3IDM2IDE1LjE1NzQgMzYgMjAuMDQ0NEMzNiAyNS4xMjMgMzMuMjMwOCAyOC4wOTM2IDI4LjE2OTggMjcuOTk3OEMyMy4zOTUyIDI3LjkwMTkgMTkuODYyMSAyNS4xMjMgMTkuODYyMSAxNi40OTg5WiIgZmlsbD0iI0VFM0EyMyIvPg0KICAgIDwvc3ZnPg0KICAgIA==);
  }

  .create_s__wrap .create_s__content-title {
    color: var(--white);
    margin: 0;
  }

  .create_s__content::before {
    display: none;
  }

  .create_s__wrap::before {
    content: "";
    display: block;
    width: 10.8rem;
    height: 10.9rem;
    background-image: url(data:image/svg+xml;base64,ICAgICAgPHN2ZyB3aWR0aD0iMzgzIiBoZWlnaHQ9IjM4OCIgdmlld0JveD0iMCAwIDM4MyAzODgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAuMjkwMDc1IDI4LjExMjJMMjYuMDg3NyAwLjk0NTE5SDczLjM1MTJMMC4yOTA0NzIgNzQuOTY5VjI4LjExMjJIMC4yOTAwNzVaTTM4MyA1MS44MTIzTDQ3LjI2MzYgMzg3LjYxOEgwTDM4MyA0Ljk1NTQ1VjUxLjgxMjNaTTM4MyAxNDQuMTQ1TDE0MC4xMDYgMzg3LjYxOEg5Mi44NDIyTDM4MyA5Ny4yODgxVjE0NC4xNDVWMTQ0LjE0NVpNMzgzIDIzMy4xODhMMjI5LjcxMSAzODcuNjE4SDE4Mi40NDdMMzgzIDE4Ni4zMzFWMjMzLjE4OEgzODNaTTM4MyAzMjUuOTg2TDMyMS4xNTUgMzg3LjYxOEgyNzMuODkxTDM4MyAyNzkuMTI5VjMyNS45ODZMMzgzIDMyNS45ODZaTTAuMjkwMDc1IDMwMy4yODZMMzAyLjE0MiAwLjk0NTE5SDM0OS40MDZMMC4yOTAwNzUgMzUwLjE0M1YzMDMuMjg2Wk0wLjI5MDA3NSAyMTAuMTQ0TDIwNy4xMzcgMC45NDUxOUgyNTQuNEwwLjI5MDA3NSAyNTcuMDAxVjIxMC4xNDRaTTAuMjkwMDc1IDExOC43NjVMMTE3LjUzMiAwLjk0NTE5SDE2NC43OTVMMC4yOTA0NzIgMTY1LjYyMVYxMTguNzY0TDAuMjkwMDc1IDExOC43NjVaIiBmaWxsPSIjRkFDQTJBIi8+DQo8L3N2Zz4NCg==);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom {
    transform: unset;
    right: 1rem;
    left: unset;
    bottom: 2rem;
  }

  .title {
    font-size: 3.4rem;
    word-break: break-word;
  }

  .block-title {
    font-size: 2.4rem;
  }

  section {
    margin-bottom: 2rem;
  }

  .container {
    padding: 0 1rem;
  }

  .head {
    height: 9rem;
  }

  .wrapper {
    // padding: 8rem 0 6.4rem;
    padding: 9rem 0 6.4rem;
  }

  .header__logo {
    width: 18.6rem;
  }

  .hero__container {
    padding: 0;
  }

  .hero__slider-item {
    padding: 5.6rem 1rem;
    min-height: 46.5rem;
  }

  .hero__feat {
    padding: 4rem 1rem 2rem;
  }

  .hero__feat-list {
    gap: 4rem 3rem;
  }

  .hero__feat-item {
    width: calc(50% - 1.5rem);
    padding: 0;
  }

  .hero__btns {
    display: none;
  }

  .about__inner {
    gap: 3rem;
  }

  .about__body {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }

  .geo__content {
    height: 71.2rem;
  }

  .geo__block {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: unset;
    bottom: -100%;
    right: 0;
    left: 0;
    z-index: 100;
    padding: 5rem 2rem 1rem;
    max-height: 100vh;
    overflow-y: auto;
  }

  .geo__block.show {
    bottom: 0;
    left: 0;
  }

  /* case */
  .case__body {
    margin-top: 8.6rem;
  }

  .case__slider {
    margin-top: -8.6rem;
  }

  .case__head-items {
    gap: 1rem;
  }

  .case__head-item {
    width: calc(50% - 0.5rem);
    height: auto;
  }

  .case__head-img {
    width: 100%;
    height: 100%;
  }

  .objects .case__body {
    width: calc(100% + 2rem);
    margin-right: -1rem;
    margin-left: -1rem;
    padding: 0 0 32.2rem;
  }

  .objects .case__body-video {
    left: 1rem;
  }

  .titles__inner {
    padding: 2rem 0;
  }

  .titles__title.title {
    font-size: 2.4rem;
  }

  .case__item {
    gap: 2rem;
  }

  .case__body-content {
    padding: 0 1rem;
  }

  .case__body-items {
    top: 2rem;
    left: 3rem;
    gap: 1rem;
  }

  .case .hero__btns {
    display: flex;
    right: 1rem;
  }

  .objects .case__body-items {
    width: calc(100% - 6rem);
  }

  .objects .case__body-item {
    width: 50%;
  }

  .feat .swiper-wrapper {
    gap: unset;
    flex-direction: unset;
    margin-bottom: 3rem;
  }

  .feat .swiper-slide {
    max-width: 28.4rem !important;
    width: 100% !important;
  }

  .feat .swiper-horizontal>.swiper-pagination-bullets,
  .feat .swiper-pagination-bullets.swiper-pagination-horizontal,
  .feat .swiper-pagination-custom {
    position: relative;
    right: 0;
    bottom: unset;
  }

  .advan__title {
    font-size: 3.4rem;
  }

  .sample-page .advan__title {
    font-size: 2.4rem;
  }

  .advan__thumbs li::before {
    width: 0.6rem;
    height: 0.6rem;
  }

  .advan__thumbs p,
  .advan__thumbs li {
    font-size: 1.2rem;
  }

  .advan__thumbs li {
    padding: 0 0 0 1.6rem;
  }

  .tenants .swiper-pagination {
    right: unset;
    bottom: unset;
    margin: 2rem 0 0 0;
  }

  .tenants .swiper-slide {
    width: 28.4rem;
  }

  .advan__head-content {
    padding: 2rem 2rem 29.6rem;
  }

  .sample-page .advan__head-content {
    padding: 2rem 2rem 8rem;
  }

  .sample-page .advan__head-content::before {
    display: none;
  }

  .advan__head-content::before {
    width: 5rem;
    height: 5rem;
  }

  .advan__head-title {
    max-width: 26.2rem;
  }

  .advan__head-text {
    max-width: 26.2rem;
  }

  .request__inner {
    padding: 3rem 2rem;
  }

  .request__form-wrap {
    gap: 0.8rem;
  }

  .stage__item-text {
    font-size: 1.2rem;
  }

  .projects .path__item-content {
    gap: 1rem;
  }

  .path__slider .swiper-slide:nth-last-child(3) .path__item-title {
    width: 100%;
  }

  .projects .path__item-img,
  .path__item-img {
    aspect-ratio: 1/1;
    min-height: 18.6rem;
    max-height: 18.6rem;
  }

  .projects__btn {
    width: 6rem;
    height: 6rem;
  }

  .projects__btn p {
    display: none;
  }

  // .path__slider .swiper-slide:last-child {
  //   display: none;
  // }

  .component {
    height: 13.6rem;
    bottom: -4.6rem;
  }

  .component::before {
    display: none;
  }

  .tabs__btn {
    padding: 1rem;
  }

  .contact-us__inner {
    padding: 3rem 2rem;
  }

  .contact-us__body {
    gap: 3.7rem;
  }

  .contact-us__title {
    max-width: 28.8rem;
  }

  .contact-us__text {
    display: block;
    font-size: 1.2rem;
  }

  .contact-us__textarea {
    display: none;
  }

  .contact-us__inner::before {
    display: none;
  }

  .contact-us__inner::after {
    display: none;
  }

  .footer__menu-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 1rem;
  }

  .footer__menu-inner::after {
    right: -3.1rem;
  }

  .service__head {
    padding: 4rem 1rem 5rem;
    background-image: none;
  }

  .service__title a::after {
    height: 0.2rem;
    bottom: 0.2rem;
  }

  .service__title {
    gap: 2rem;
  }

  .service__title a {
    font-size: 4rem;
  }

  .service__blocks {
    gap: 1rem;
  }

  .service__block {
    flex-direction: column-reverse;
  }

  .service__block.yellow {
    flex-direction: column;
  }

  .sample-page .service__pic {
    width: 100%;
    height: 28.3rem;
  }

  .service__pic {
    width: 100%;
  }

  .sample-page .service__pic-img {
    height: 100%;
  }

  .service__pic-img {
    height: auto;
  }

  .sample-page .service__item {
    margin: 0;
    width: 100%;
    min-height: auto;
    padding: 3rem 4rem 3rem 10rem;
  }

  .service__block.yellow .service__item,
  .service__item {
    margin: 0;
    width: 100%;
    padding: 3rem 4rem 6rem 10rem;
  }

  .sample-page .service__content {
    gap: 2rem;
  }

  .service__content {
    width: 100%;
  }

  .service__item::before {
    left: 0;
  }

  .service__block.yellow .service__item::before {
    right: unset;
    left: 0;
  }

  /* review */
  .review__items {
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .review__btn {
    display: flex;
  }

  .review .tenants__item,
  .review__item {
    width: 100%;
  }

  .review__item:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4)) {
    display: none;
  }

  /* licenses */
  .licenses .dropdown {
    display: block;
  }

  .licenses__items {
    gap: 1rem;
  }

  .licenses__item {
    width: calc(50% - 0.5rem);
    padding: 1.5rem 1rem 2rem;
  }

  .licenses__item-icon {
    width: 7rem;
    height: 7.1rem;
    margin-bottom: 2rem;
  }

  .licenses__item-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .licenses__item .link {
    font-size: 1.2rem;
    gap: 0.5rem;
  }

  .link__icon {
    width: 1.6rem;
    height: 1.6rem;
    padding: 0.35rem;
  }

  /* contacts */
  .contacts {
    margin-bottom: 28rem;
  }

  .contacts__items {
    display: flex;
    flex-direction: column;
  }

  .contacts__item:nth-child(odd) {
    max-width: 100%;
  }

  .contacts__body {
    width: 100%;
    height: 50rem;
    margin: 0 0 -26rem;
  }

  .preview__item {
    font-size: 6rem;
  }

  .preview__item:nth-child(3) {
    font-size: 10rem;
  }

  .menu__nav {
    padding: 0 0 0 2rem;
  }

  .menu__nav {
    display: flex;
    flex-direction: column;
  }

  .menu__head {
    padding: 9rem 0 3rem;
  }

  .menu__foot {
    padding: 0;
  }

  .menu__style.footer__contact-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem 3rem 2rem;
  }

  .menu__list-item i {
    display: flex;
  }

  .menu__list-item.accordion.active:not(:last-child) {
    margin-bottom: 2rem;
  }

  .menu__list-item.active i {
    transform: scale(-1, -1);
  }

  .menu__list-item.active+.menu__list-content {
    grid-template-rows: 1fr;
  }

  .menu__list-item.accordion:not(:last-child) {
    margin-bottom: 0;
  }

  .sample__body {
    width: calc(100% + 2rem);
    margin-right: 0;
    margin-left: -1rem;
  }

  .construction .sample {
    background-position-x: 20.6rem;
    background-position-y: 24.3rem;
  }

  .construction .catalogues__item-body {
    padding: 0 1rem 1rem 1rem;
  }

  .control .sample {
    background-size: 43.2rem 10.1rem;
    background-position-x: 20.6rem;
    background-position-y: 27.7rem;
  }

  .catalogues__items {
    gap: 1rem;
  }

  .catalogues__item {
    width: calc(50% - 0.5rem);
  }

  .catalogues__filter-item {
    width: calc(50% - 0.5rem);
    min-width: unset;
  }

  .dropdown {
    width: calc(50% - 0.5rem);
  }

  .dropdown__button {
    width: 100%;
    min-width: unset;
  }

  .catalogues__filter-btn {
    width: 100%;
    min-width: unset;
  }

  .menu {
    // height: calc(var(--vh, 1vh) * 100);
  }

  .menu__list-item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .menu__nav {}

  .menu__list:nth-child(1) {
    grid-row: 1/3;
  }

  .menu__list:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .menu__list:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .menu__list:nth-child(4) {
    grid-row: 2/4;
  }

  .sample-feat__items {
    gap: 2rem;
  }

  .sample-feat__item {
    max-width: calc(50% - 1rem);
  }

  .sample-feat__item:nth-child(3) {
    margin: 0;
  }

  .control .sample-feat__items {
    gap: 2rem 1rem;
  }

  .control .sample-feat__item {
    width: calc(50% - 0.5rem);
  }

  .plan {
    padding: 2rem 0;
  }

  .plan__inner {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
  }

  .breadcrumbs__inner {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding: 0 1rem;
  }

  .catalogs .sample {
    background: none;
    background-color: var(--primary-accent);
  }

  .catalogs .sample::before {
    right: -18.9rem;
  }

  .catalogs .sample__inner {
    padding: 4rem 0 0;
    height: 68.5rem;
  }

  .catalogs .sample__title {
    font-weight: 800;
  }

  .catalogs .sample__title span {
    font-weight: 800;
  }

  .catalogs .sample__items {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding: 2rem;
    background-color: var(--primary-black);
    flex-wrap: wrap;
    gap: 2rem;
  }

  .catalogs .sample__item {
    width: calc(50% - 1rem);
  }

  .catalogs .sample__item-count {
    font-size: 3.4rem;
  }

  .catalogs .sample__item-text {
    font-size: 1.4rem;
  }

  .catalogs .sample__img {
    width: 60rem;
    height: 37.3rem;
    top: 10.8rem;
    bottom: unset;
    left: -12.4rem;
    right: -9.4rem;
    // transform: translateX(-50%);
  }

  .catalogs__list-count {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
  }

  .catalogs__list-text {
    font-size: 1rem;
  }

  .catalogs__list-item.nsk {
    left: 20.42%;
  }

  .catalogs__list-item.khabarovsk {
    flex-direction: row-reverse;
  }

  .catalogs__list-item.khabarovsk {
    right: 31%;
  }

  .vacancy .tabs__btn {
    width: calc(50% - 0.5rem);
  }

  .notfound__inner {
    display: flex;
    flex-direction: column;
  }

  .notfound__img {
    position: static;
    height: 42rem;
    display: block;
    margin-top: 2.4rem;
  }

  .notfound__count {
    font-size: 18rem;
  }

  // .create-page .path__slider .swiper-slide {
  .path__slider .swiper-slide {
    max-width: 29.4rem;
  }

  .slider__btns .swiper-button-prev:hover,
  .slider__btns .swiper-button-next:hover {
    background-color: var(--primary-black);
  }

  .slider__btns .swiper-button-prev:active,
  .slider__btns .swiper-button-next:active {
    background-color: var(--primary-accent);
  }
}

@media (max-width: 520px) {}

@media (max-width: 480px) {
  .tenants .swiper-pagination-bullet {
    width: 1.5rem;
  }

  .tenants .swiper-pagination-bullet-active {
    width: 3rem;
  }

  .path__slider .swiper-slide:nth-last-child(2) {
    display: none;
  }

  .case__body-items {
    width: calc(100% - 6rem);
  }
}

@media (max-width: 380px) {
  .wrapper {
    // padding: 8rem 0 12.4rem;
    padding: 9rem 0 5.4rem;
  }

  .plate {
    min-height: 5.4rem;
  }

  .plate__btns {
    // flex-direction: column;
  }

  .plate__btn {
    --button-padding-y: 1rem;
    --button-padding-x: 1rem;
    --button-font-size: 1.2rem;
    height: 4rem;
  }

  .burger {
    gap: 0;
    aspect-ratio: 1/1;
    width: auto;
  }

  .burger__text {
    font-size: 0;
  }

  .burger span {
    width: 1.7rem;
  }

  .create_f .swiper-slide {
    width: 100%;
  }

  .contact-us__title {
    font-size: 2.8rem;
  }
}

@media (max-width: 360px) {
  .tabs__btn {
    padding: 1rem 0.5rem;
    width: fit-content;
    font-size: 1.2rem;
  }

  .review .tabs__btn {
    width: calc(50% - 0.5rem);
  }

  .preview__item {
    font-size: 4.4rem;
  }

  .preview__item:nth-child(3) {
    font-size: 8.4rem;
  }

  .notfound__title {
    font-size: 3.5rem;
  }

  .notfound__count {
    font-size: 12rem;
  }

  .notfound__text {
    font-size: 2.4rem;
    width: 80%;
    margin: 0 auto 0 0;
  }

  .notfound__img {
    width: 100%;
    height: auto;
  }

  .catalogues__item {
    width: 100%;
  }

  .case__body-items {
    top: 1rem;
    left: 2rem;
    width: calc(100% - 4rem);
  }

  .case__body-item {
    gap: 0.5rem;
  }

  .case__body-icon {
    width: 4rem;
    height: 4rem;
  }

  .case__body-wrap span {
    white-space: nowrap;
  }
}