:root {
    // --index: 1em;
    // --index: 0.72325dvw;
    // --index: 0.521dvw;

    /* color */
    --primary-white: #F2F3FA;
    --primary-black: #312D2D;
    --primary-black-10: #312d2d1a;
    --primary-black-30: #312d2d4d;
    --primary-black-50: #312d2d80;
    --primary-black-60: #312d2d99;
    --primary-black-70: #312d2db3;
    --primary-accent: #EE3A23;
    --primary-grey: #D8D8D8;
    --primary-grey-10: rgba(216, 216, 216, 0.1);
    --primary-bg: #F5F5F5;
    --primary-yellow: #FACA2A;
    --white: #ffffff;
    --white-30: #ffffff4d;
    --white-50: #ffffff80;
    --white-60: #ffffff99;
    --white-70: #ffffffb3;
    --white-80: #ffffffcc;
    --black: #000000;

    /* border-radius */
    --border-r-18: 1.8rem;
}