.head {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  height: fit-content;
  background-color: var(--primary-bg);
  transition: all 0.3s ease;
  box-shadow: 0px 7px 29.9px rgba(0, 0, 0, 0);

  &--active.head.fixed {
    box-shadow: none;
  }

  &.fixed {
  box-shadow: 0px 7px 29.9px rgba(0, 0, 0, 0.15);

    .header__inner {
      padding: 2rem 0;
    }

    .nav__inner {
      padding: 2rem 0;
    }
  }
}

.header {
  border-bottom: 0.1rem solid var(--primary-black-10);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: all 0.3s ease;
  }

  &__logo {
    display: block;
    width: auto;
    height: 5rem;
    flex-shrink: 0;
    transition: all 0.3s ease;

    &-img {
      width: auto;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__phone {
    font-family: 'Winter Sans Trial';
    font-weight: 800;
    font-size: 4rem;
    line-height: 120%;
    color: var(--primary-accent);
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  &__contact {
    position: relative;
    width: 25rem;
    height: 5rem;

    &:hover {

      .header__contact-inner {
        height: auto;
      }

      .header__contact-btn i {
        color: var(--primary-accent);
        transform: scale(-1, -1);
      }

      .header__contact-body {
        grid-template-rows: 1fr;
      }

      .header__contact-list {
        padding-bottom: 2.6rem;
      }
    }

    &-inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 10;
      background-color: var(--primary-bg);
      border: 0.1rem solid var(--primary-black-30);
      transition: height 0.3s ease;
    }

    &-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 5rem;
      padding: 0 2rem;
      font-family: 'Winter Sans Trial';
      font-weight: 800;
      font-size: 1.6rem;
      line-height: 1.375;
      cursor: pointer;

      i {
        font-size: 1.2rem;
        transition: all 0.3s ease;
      }

      &:hover {

        i {
          color: var(--primary-accent);
          transform: scale(-1, -1);
        }
      }
    }

    &-body {
      display: grid;
      grid-template-rows: 0fr;
      transition: all 0.3s ease;
    }

    &-list {
      // height: 0;
      overflow: hidden;
    }

    &-item {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      padding: 0 2rem;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: var(--primary-black);
        color: var(--white);
        text-align: center;
        font-size: 2.4rem;
        transition: all 0.3s ease;
        flex-shrink: 0s;
      }
    }

    &-link {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: var(--primary-black);
      transition: all 0.3s ease;

      &:hover {
        text-decoration: underline;

        +i {
          background-color: var(--primary-accent);
        }
      }
    }
  }
}

.nav {

  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 4rem;
    // height: 7.7rem;
    padding: 3rem 0;
    transition: all 0.3s ease;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 1rem 4rem;
  }

  &__item {
    position: relative;

    &-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: inherit;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 98%;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        color: var(--primary-accent);

        i {
          color: var(--primary-black);
        }
      }

      i {
        font-size: 1.6rem;
        line-height: 1;
        color: var(--primary-accent);
        position: relative;

        &::after {
          content: "";
          display: block;
          height: 3.3rem;
          position: absolute;
          bottom: -3.3rem;
          left: 50%;
          transform: translateX(-50%);
          border: 1.65rem solid transparent;
          border-bottom: 1.65rem solid var(--white);
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
        }
      }
    }

    &:hover {
      .nav__list {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      .nav__item-link i::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__list {
    width: 28.3rem;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
    position: absolute;
    top: calc(100% + 3.2rem);
    z-index: 10;

    &::after {
      content: "";
      display: block;
      width: 28.3rem;
      height: 3.2rem;
      background-color: transparent;
      position: absolute;
      top: -3.3rem;
    }

    &-link {
      display: block;
      padding: 2rem 3rem;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: inherit;
    }

    li {
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--primary-accent);
        color: var(--white);
      }

      &:not(:last-child) {
        border-bottom: 0.1rem solid var(--primary-black-10);
      }
    }
  }

  &__link {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.1875;
    color: var(--primary-accent);

    &:hover {
      text-decoration: underline;
    }
  }
}

.burger {
  display: none;
  justify-content: flex-end;
  align-items: center;
  gap: 1.3rem;
  width: 10.7rem;
  height: 4.8rem;
  padding: 0 1.5rem 0 1.6rem;
  background-color: var(--primary-accent);
  // border-radius: 2.5rem;
  color: var(--white);
  transition: all 0.3s ease;
  transition: gap 0.5s ease;

  &--opened {
    gap: 0.7rem;

    &.burger span {

      &::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        top: 50%;
        bottom: unset;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 100%;
    text-transform: uppercase;
  }

  span {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 0.8rem;
    flex-shrink: 0;

    &::before {
      content: "";
      display: block;
      width: 1.4rem;
      height: 0.2rem;
      background-color: var(--white);
      position: absolute;
      top: 0;
      transition: all 0.3s ease;
    }

    &::after {
      content: "";
      display: block;
      width: 1.4rem;
      height: 0.2rem;
      background-color: var(--white);
      position: absolute;
      bottom: 0;
      transition: all 0.3s ease;
    }
  }
}