<!-- Подвал сайта -->
<footer class="footer">
  <div class="footer__contact">
    <div class="container">
      <div class="footer__contact-inner">
        <div class="footer__contact-list">
          <div class="footer__contact-item">
            <h6 class="footer__contact-title">
              Адрес:
            </h6>
            <div class="footer__contact-wrap">
              <span class="footer__contact-text">
                ​Улица Владимировская, 26/1​702 офис; 7 этаж
              </span>
              <span class="footer__contact-subtext">
                пн-пт с 8:00 до 19:00
              </span>
            </div>
          </div>
          <div class="footer__contact-item">
            <h6 class="footer__contact-title">
              Эл.почта:
            </h6>
            <a class="footer__contact-email" href="emailto:mail@imperiagk.ru">
              mail@imperiagk.ru
            </a>
          </div>
          <div class="footer__contact-item">
            <h6 class="footer__contact-title">
              Мессенджеры:
            </h6>
            <div class="footer__social">
              <a class="footer__social-link" href="/">
                <i class="icon-telegram"></i>
              </a>
              <a class="footer__social-link" href="/">
                <i class="icon-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
        <a class="footer__contact-phone" href="tel:+79133801122">
          8-913-380-11-22
        </a>
      </div>
    </div>
  </div>
  <div class="footer__menu">
    <div class="container">
      <div class="footer__menu-inner">
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <h6 class="footer__menu-title">
              О компании
            </h6>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="/">
              История
            </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="/">
              Документы
            </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="/">
              Вакансии
            </a>
          </li>
        </ul>
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <h6 class="footer__menu-title">
              Наши объекты
            </h6>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="/">
              Проекты для инвестиций
            </a>
          </li>
        </ul>
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <h6 class="footer__menu-title">
              Услуги
            </h6>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="/">
              Инвесторам
            </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="/">
              Арендаторы
            </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="/">
              Управление недвижимостью
            </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="/">
              Строительство коммерческих объектов
            </a>
          </li>
        </ul>
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-title" href="/">
              Отзывы
            </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-title" href="/">
              Контакты
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <span class="footer__bottom-text">
          © 2024 Империя
        </span>

        <a class="footer__bottom-logo" href="/">
          <img src="./images/logo/logo-white.svg" alt="">
        </a>

        <span class="footer__bottom-text">
          Разработка сайта — <a href="/">Once&Twice</a>
        </span>
      </div>
    </div>
  </div>
</footer>
</div>

<!--=include modal.html-->

<!-- scipts -->
<script src="./libs/gsap/gsap.min.js" defer></script>
<script src="./libs/gsap/ScrollSmoother.min.js" defer></script>
<script src="./libs/gsap/ScrollTrigger.min.js" defer></script>
<script src="./libs/swiper/swiper-bundle.min.js" defer></script>
<script src="./js/main.js" defer></script>
</body>

</html>