    <!-- Подвал сайта -->
    <footer class="footer">
      <div class="footer__contact">
        <div class="container">
          <div class="footer__contact-inner">
            <div class="footer__contact-list">
              <div class="footer__contact-item">
                <h6 class="footer__contact-title">
                  Адрес:
                </h6>
                <div class="footer__contact-wrap">
                  <span class="footer__contact-text">
                    ​Улица Владимировская, 26/1​702 офис; 7 этаж
                  </span>
                  <span class="footer__contact-subtext">
                    пн-пт с 8:00 до 19:00
                  </span>
                </div>
              </div>
              <div class="footer__contact-item">
                <h6 class="footer__contact-title">
                  Эл.почта:
                </h6>
                <a class="footer__contact-email" href="emailto:mail@imperiagk.ru">
                  mail@imperiagk.ru
                </a>
              </div>
              <div class="footer__contact-item">
                <h6 class="footer__contact-title">
                  Мессенджеры:
                </h6>
                <div class="footer__social">
                  <a class="footer__social-link" href="/">
                    <i class="icon-telegram"></i>
                  </a>
                  <a class="footer__social-link" href="/">
                    <i class="icon-whatsapp"></i>
                  </a>
                </div>
              </div>
            </div>
            <a class="footer__contact-phone" href="tel:+79133801122">
              8-913-380-11-22
            </a>
          </div>
        </div>
      </div>
      <div class="footer__menu">
        <div class="container">
          <div class="footer__menu-inner">
            <ul class="footer__menu-list">
              <li class="footer__menu-item">
                <a class="footer__menu-title" href="/about">
                  О компании
                </a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="/history">
                  История
                </a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="/licenses">
                  Документы
                </a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="/vacancy">
                  Вакансии
                </a>
              </li>
            </ul>
            <ul class="footer__menu-list">
              <li class="footer__menu-item">
                <a class="footer__menu-title" href="/catalogs">
                  Наши объекты
                </a>
              </li>
            </ul>
            <ul class="footer__menu-list">
              <li class="footer__menu-item">
                <a class="footer__menu-title" href="/service">
                  Услуги
                </a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="/investments">
                  Инвестиции в коммерческую недвижимость 
                </a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="/rent">
                  Аренда торговых помещений
                </a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="/construction">
                  Строительство объектов
                </a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="/control">
                  Управление коммерческой недвижимостью 
                </a>
              </li>
            </ul>
            <ul class="footer__menu-list">
              <li class="footer__menu-item">
                <a class="footer__menu-title" href="/review">
                  Отзывы
                </a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-title" href="/contacts">
                  Контакты
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="footer__bottom-inner">
            <span class="footer__bottom-text">
              © 2024 Империя
              <div class="footer__bottom-links">
                <a href="/">Карта сайта</a>
                <a href="/">Политика конфиденциальности</a>
              </div>
            </span>

            <a class="footer__bottom-logo" href="/">
              <img src="./images/logo/logo-white.svg" alt="">
            </a>

            <span class="footer__bottom-text">
              Разработка и продвижение — <a href="/">Once&Twice</a>
            </span>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- Попап окна -->
  <!--=include modal.html-->
  <!-- Плашки -->
  <!--=include plate.html-->
  <!-- scipts -->
  <script src="./libs/lenis/lenis.min.js"></script>
  <script src="./libs/gsap/gsap.min.js" defer></script>
  <script src="./libs/gsap/ScrollSmoother.min.js" defer></script>
  <script src="./libs/gsap/ScrollTrigger.min.js" defer></script>
  <script src="./libs/swiper/swiper-bundle.min.js" defer></script>
  <script src="./js/main.js" defer></script>
</body>

</html>