    <!-- Шапка сайта -->
    <header class="head">
      <div class="header">
        <div class="container header__container">
          <div class="header__inner">
            <a class="header__logo" href="/Imperia">
              <img class="header__logo-img" src="./images/logo/logo-mob.svg" alt="ИМПЕРИЯ">
            </a>
            <div class="header__wrap">
              <a class="header__phone" href="tel:+79133801122">
                8-913-380-11-22
              </a>
              <div class="header__contact">
                <div class="header__contact-inner">
                  <div class="header__contact-btn">
                    Свяжитесь с нами
                    <i class="icon-chevron-down"></i>
                  </div>
                  <div class="header__contact-body">
                    <ul class="header__contact-list">
                      <li class="header__contact-item">
                        <a class="header__contact-link" href="/">
                          в Телеграм
                        </a>
                        <i class="icon-telegram"></i>
                      </li>
                      <li class="header__contact-item">
                        <a class="header__contact-link" href="/">
                          в WhatsApp
                        </a>
                        <i class="icon-whatsapp"></i>
                      </li>
                      <li class="header__contact-item">
                        <a class="header__contact-link" href="mailto:info@imperiagk.ru">
                          Напишите на почту
                        </a>
                        <i class="icon-mail"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <a class="burger" href="#!">
              <p class="burger__text">Меню</p>
              <span></span>
            </a>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="container nav__container">
          <div class="nav__inner">
            <div class="nav__items">
              <div class="nav__item">
                <a class="nav__item-link" href="/Imperia/about.html">
                  О компании
                  <i class="icon-chevron-down-circle"></i>
                </a>
                <ul class="nav__list">
                  <li>
                    <a class="nav__list-link" href="/Imperia/history.html">
                      История
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="/Imperia/licenses.html">
                      Документы
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="/Imperia/vacancy.html">
                      Вакансии
                    </a>
                  </li>
                </ul>
              </div>
              <div class="nav__item">
                <a class="nav__item-link" href="/Imperia/catalogs.html">
                  Наши объекты
                </a>
              </div>
              <div class="nav__item">
                <a class="nav__item-link" href="/Imperia/service.html">
                  Услуги
                  <i class="icon-chevron-down-circle"></i>
                </a>
                <ul class="nav__list">
                  <li>
                    <a class="nav__list-link" href="/Imperia/investments.html">
                      Инвестиции в коммерческую недвижимость
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="/Imperia/rent.html">
                      Аренда торговых помещений
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="/Imperia/construction.html">
                      Строительство объектов
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="/Imperia/control.html">
                      Управление коммерческой недвижимостью
                    </a>
                  </li>
                </ul>
              </div>
              <div class="nav__item">
                <a class="nav__item-link" href="/Imperia/review.html">
                  Отзывы
                </a>
              </div>
              <div class="nav__item">
                <a class="nav__item-link" href="/Imperia/contacts.html">
                  Контакты
                </a>
              </div>
            </div>
            <a id="presentation" class="nav__link" href="./documents/Империя презентация.pdf"
              download="Империя презентация.pdf">
              Скачать презентацию
            </a>
          </div>
        </div>
      </nav>
    </header>