<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
  <meta name="robots" content="noindex, nofollow" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <!-- favicon -->
  <link rel="icon" type="image/png" href="./images/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="./images/favicon/favicon.svg" />
  <link rel="shortcut icon" href="./images/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Империя" />
  <link rel="manifest" href="./images/favicon/site.webmanifest" />
  <!-- title -->
  <title>ИМПЕРИЯ</title>
  <!-- styles -->
  <link rel="stylesheet" href="./libs/lenis/lenis.min.css">
  <link rel="stylesheet" href="./libs/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./css/icomoon-style.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <!-- Бургер меню -->
  <!--=include mobile-menu.html-->
  <div class="wrapper">
    <!-- Шапка сайта -->
    <header class="head">
      <div class="header">
        <div class="container header__container">
          <div class="header__inner">
            <a class="header__logo" href="/">
              <img class="header__logo-img" src="./images/logo/logo.svg" alt="ИМПЕРИЯ">
              <img class="header__logo-img header__logo-img--mobile" src="./images/logo/logo-mob.svg" alt="ИМПЕРИЯ">
            </a>
            <div class="header__wrap">
              <a class="header__phone" href="tel:+79133801122">
                8-913-380-11-22
              </a>
              <div class="header__contact">
                <div class="header__contact-inner">
                  <div class="header__contact-btn">
                    Свяжитесь с нами
                    <i class="icon-chevron-down"></i>
                  </div>
                  <div class="header__contact-body">
                    <ul class="header__contact-list">
                      <li class="header__contact-item">
                        <a class="header__contact-link" href="/">
                          в Телеграм
                        </a>
                        <i class="icon-telegram"></i>
                      </li>
                      <li class="header__contact-item">
                        <a class="header__contact-link" href="/">
                          в WhatsApp
                        </a>
                        <i class="icon-whatsapp"></i>
                      </li>
                      <li class="header__contact-item">
                        <a class="header__contact-link" href="/">
                          Напишите на почту
                        </a>
                        <i class="icon-mail"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <a class="burger" href="#!">
              <p class="burger__text">Меню</p>
              <span></span>
            </a>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="container nav__container">
          <div class="nav__inner">
            <div class="nav__items">
              <div class="nav__item">
                <a class="nav__item-link" href="/about">
                  О компании
                  <i class="icon-chevron-down-circle"></i>
                </a>
                <ul class="nav__list">
                  <li>
                    <a class="nav__list-link" href="/history">
                      История
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="/licenses">
                      Документы
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="/vacancy">
                      Вакансии
                    </a>
                  </li>
                </ul>
              </div>
              <div class="nav__item">
                <a class="nav__item-link" href="/objects">
                  Наши объекты
                </a>
              </div>
              <div class="nav__item">
                <a class="nav__item-link" href="/service">
                  Услуги
                  <i class="icon-chevron-down-circle"></i>
                </a>
                <ul class="nav__list">
                  <li>
                    <a class="nav__list-link" href="/investments">
                      Инвестиции в коммерческую недвижимость
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="/rent">
                      Аренда торговых помещений
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="/construction">
                      Строительство объектов
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="/control">
                      Управление коммерческой недвижимостью
                    </a>
                  </li>
                </ul>
              </div>
              <div class="nav__item">
                <a class="nav__item-link" href="/review">
                  Отзывы
                </a>
              </div>
              <div class="nav__item">
                <a class="nav__item-link" href="/contacts">
                  Контакты
                </a>
              </div>
            </div>
            <a id="presentation" class="nav__link" href="./documents/Империя презентация.pdf"
              download="Империя презентация.pdf">
              Скачать презентацию
            </a>
          </div>
        </div>
      </nav>
    </header>