<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <!-- title -->
  <title>ИМПЕРИЯ</title>
  <!-- styles -->
  <link rel="stylesheet" href="./libs/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./css/icomoon-style.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="wrapper">
    <!-- Шапка сайта -->
    <header class="head">
      <div class="header">
        <div class="container header__container">
          <div class="header__inner">
            <a class="header__logo" href="/">
              <img class="header__logo-img" src="./images/logo/logo.svg" alt="">
            </a>
            <div class="header__wrap">
              <a class="header__phone" href="tel:+79133801122">
                8-913-380-11-22
              </a>
              <!-- <a class="btn btn-outline" href="/">
                Скачать презентацию
              </a> -->
              <div class="header__contact">
                <div class="header__contact-inner">
                  <div class="header__contact-btn">
                    Свяжитесь с нами
                    <i class="icon-chevron-down"></i>
                  </div>
                  <ul class="header__contact-list">
                    <li class="header__contact-item">
                      <a class="header__contact-link" href="/">
                        в Телеграм
                      </a>
                      <i class="icon-telegram"></i>
                    </li>
                    <li class="header__contact-item">
                      <a class="header__contact-link" href="/">
                        в WhatsApp
                      </a>
                      <i class="icon-whatsapp"></i>
                    </li>
                    <li class="header__contact-item">
                      <a class="header__contact-link" href="/">
                        Напишите на почту
                      </a>
                      <i class="icon-mail"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav">
        <div class="container nav__container">
          <div class="nav__inner">
            <div class="nav__items">
              <div class="nav__item">
                <span class="nav__item-link">
                  О компании
                  <i class="icon-chevron-down-circle"></i>
                </span>
                <ul class="nav__list">
                  <li>
                    <a class="nav__list-link" href="">
                      История
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="">
                      Документы
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="">
                      Вакансии
                    </a>
                  </li>
                </ul>
              </div>
              <div class="nav__item">
                <span class="nav__item-link">
                  Наши объекты
                  <i class="icon-chevron-down-circle"></i>
                </span>
                <ul class="nav__list">
                  <li>
                    <a class="nav__list-link" href="">
                      История
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="">
                      Документы
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="">
                      Вакансии
                    </a>
                  </li>
                </ul>
              </div>
              <div class="nav__item">
                <span class="nav__item-link">
                  Направления деятельности
                  <i class="icon-chevron-down-circle"></i>
                </span>
                <ul class="nav__list">
                  <li>
                    <a class="nav__list-link" href="">
                      История
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="">
                      Документы
                    </a>
                  </li>
                  <li>
                    <a class="nav__list-link" href="">
                      Вакансии
                    </a>
                  </li>
                </ul>
              </div>
              <div class="nav__item">
                <a class="nav__item-link" href="/">
                  Отзывы
                </a>
              </div>
              <div class="nav__item">
                <a class="nav__item-link" href="/">
                  Контакты
                </a>
              </div>
            </div>
            <a class="nav__link" href="/">
              Скачать презентацию
            </a>
          </div>
        </div>
      </nav>
    </header>