<!-- Бургер меню -->
<aside id="mobile-menu" class="menu lenis" data-lenis-prevent>
  <div class="menu__inner">
    <div class="menu__head">
      <div class="container">
        <nav class="menu__nav">

          <ul class="menu__list">
            <li class="menu__list-item accordion">
              <a class="menu__list-title" href="/Imperia/about.html">
                О компании
              </a>
              <i class="icon-chevron-down"></i>
            </li>
            <div class="menu__list-content">
              <ul class="menu__list">
                <li class="menu__list-item">
                  <a class="menu__list-link" href="/Imperia/history.html">
                    История
                  </a>
                </li>
                <li class="menu__list-item">
                  <a class="menu__list-link" href="/Imperia/licenses.html">
                    Документы
                  </a>
                </li>
                <li class="menu__list-item">
                  <a class="menu__list-link" href="/Imperia/vacancy.html">
                    Вакансии
                  </a>
                </li>
              </ul>
            </div>
          </ul>


          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-title" href="/Imperia/catalogs.html">
                Наши объекты
              </a>
            </li>
          </ul>

          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-title" href="/Imperia/service.html">
                Услуги
              </a>
            </li>
          </ul>

          <ul class="menu__list">
            <li class="menu__list-item accordion">
              <span class="menu__list-title">
                Все слуги
              </span>
              <i class="icon-chevron-down"></i>
            </li>
            <div class="menu__list-content">
              <ul class="menu__list">
                <li class="menu__list-item">
                  <a class="menu__list-link" href="/Imperia/investments.html">
                    Инвестиции в коммерческую недвижимость
                  </a>
                </li>
                <li class="menu__list-item">
                  <a class="menu__list-link" href="/Imperia/rent.html">
                    Аренда торговых помещений
                  </a>
                </li>
                <li class="menu__list-item">
                  <a class="menu__list-link" href="/Imperia/construction.html">
                    Строительство объектов
                  </a>
                </li>
                <li class="menu__list-item">
                  <a class="menu__list-link" href="/Imperia/control.html">
                    Управление коммерческой недвижимостью
                  </a>
                </li>
              </ul>
            </div>
          </ul>

          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-title" href="/Imperia/review.html">
                Отзывы
              </a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-title" href="/Imperia/contacts.html">
                Контакты
              </a>
            </li>
          </ul>

        </nav>
      </div>
    </div>
    <div class="menu__foot">
      <div class="container">
        <div class="menu__style footer__contact-list">
          <div class="menu__style footer__contact-item">
            <h6 class="menu__style footer__contact-title">
              Телефон:
            </h6>
            <a class="menu__style footer__contact-phone" href="tel:+79133801122">
              8-913-380-11-22
            </a>
          </div>
          <div class="menu__style footer__contact-item">
            <h6 class="menu__style footer__contact-title">
              Эл.почта:
            </h6>
            <a class="menu__style footer__contact-email" href="mailto:info@imperiagk.ru">
              info@imperiagk.ru
            </a>
          </div>
          <div class="menu__style footer__contact-item">
            <h6 class="menu__style footer__contact-title">
              Адрес:
            </h6>
            <div class="menu__style footer__contact-wrap">
              <span class="menu__style footer__contact-text">
                ул.&nbspВладимировская, д.&nbsp26/1, этаж&nbsp5, офис&nbsp504
              </span>
              <span class="menu__style footer__contact-subtext">
                Режим работы: <br> понедельник&nbsp;&mdash; пятница с&nbsp;8:00 до&nbsp;19:00
              </span>
            </div>
          </div>
          <div class="menu__style footer__contact-item">
            <h6 class="menu__style footer__contact-title">
              Мессенджеры:
            </h6>
            <div class="menu__style footer__social">
              <a class="menu__style footer__social-link" href="https://t.me/+79133801122">
                <i class="icon-telegram"></i>
              </a>
              <a class="menu__style footer__social-link" href="https://wa.me/+79133801122">
                <i class="icon-whatsapp"></i>
              </a>
            </div>
          </div>
          <a id="presentation" class="nav__link menu__presentation" href="./documents/Империя презентация.pdf"
            download="Империя презентация.pdf">
            Скачать презентацию
          </a>
        </div>
      </div>
    </div>
  </div>
</aside>