<section class="plate mob-block">
  <div class="container-fluid">
    <div class="plate__inner">
      <div class="plate__btns">
        <button class="plate__btn btn btn-red modal__btn" data-id="modal-social">
          Связаться
        </button>
        <button class="plate__btn btn modal__btn" data-title="Получить консультацию"
          data-text="Опишите свой вопрос или задачу в поле комментарий, мы вернемся к вам с подробной консультацией"
          data-id="modal-callback">
          Получить консультацию
        </button>
      </div>
    </div>
  </div>
</section>

<section id="warning-plate" class="warning">
  <div class="container warning__container">
    <div class="warning__inner">
      <p class="warning__text">
        Этот сайт использует файлы <a href="/imperia/privacy.html">сооkіе</a>
      </p>
      <button id="warning-btn" class="warning__btn btn btn-red">
        Ок
      </button>
    </div>
  </div>
</section>