.hero {
  background-color: var(--white);

  &__container {
    max-width: 192rem;
    padding: 0;
  }

  &__inner {
    display: flex;
    flex-direction: row;
  }

  &__btns {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__slider {
    width: calc(100% - 60rem - 20.9rem);
    position: relative;

    &-item {
      width: 100%;
      height: 100%;
      min-height: 81.7rem;
      padding: 9rem 0 9rem 12rem;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-title {
      margin-bottom: 4rem;

      span {
        color: var(--primary-accent);
      }
    }

    &-subtitle {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 98%;
      color: var(--primary-black-60);
    }

    &-btn {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__feat {
    width: 80.9rem;
    padding: 0 20.9rem 0 0;
    overflow: hidden;

    &-list {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: -100%;
        z-index: 1;
        background-color: var(--primary-accent);
        background-image: url(./../images/component/c-2.svg);
        background-repeat: no-repeat;
        background-size: auto calc(100% + 0.3rem);
        background-position: -0.3rem -0.3rem;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      padding: 5rem;
      border: 0.1rem solid var(--primary-black-10);
      background-color: var(--white);

      &:nth-child(even) {
        border-right: 0;
      }
    }

    &-img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      flex-shrink: 0;
    }

    &-text {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 120%;
      color: var(--primary-black-70);
    }
  }
}

.about {
  margin-bottom: 14.5rem;

  &__inner {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 85rem;
    padding-right: 3rem;

    &-text {
      font-family: 'Winter Sans Trial';
      font-style: normal;
      font-weight: 400;
      font-size: 3.4rem;
      line-height: 105%;

      span {
        font-weight: 800;
        color: var(--primary-accent);
      }
    }
  }

  &__title {
    position: absolute;
    bottom: -1.5rem;
    left: -28.3rem;
    z-index: 1;
    color: var(--white);
  }

  &__body {
    width: 83rem;
    height: 66.6rem;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.feat {

  &__title {
    margin-bottom: 3.7rem;
  }

  .swiper-wrapper {
    gap: 4rem 30.2rem;
    flex-direction: row;
  }

  .swiper-slide {
    max-width: 54.7rem;
    width: 100%;
    height: calc((100% - 4rem) / 2) !important;

    &:nth-child(3),
    &:nth-child(4) {
      margin: 0 0 0 auto;
    }

    &:nth-child(2) {
      &::after {
        content: "";
        display: block;
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(100% + 16rem);
        background-color: var(--primary-yellow);
      }
    }

    &:nth-child(3) {
      right: -16rem;

      &::after {
        content: "";
        display: block;
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: calc(100% + 16rem);
        background-color: var(--primary-black);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__block {
    width: 100%;
    height: 35rem;
    background-color: var(--primary-grey);
    margin-bottom: 4rem;
    position: relative;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 14rem;
    background-color: var(--primary-accent);
    font-family: 'Winter Sans Trial';
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 110%;
    text-align: center;
    color: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 0 0 3rem;
    border-left: 0.1rem solid var(--primary-black);

    &-title {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 142%;
    }

    &-text {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 120%;
    }
  }
}

.tenants {

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-bottom: 4rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    border: 0.1rem solid var(--primary-black-10);

    &-head {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 22.2rem;
      background-color: var(--primary-black-10);
    }

    &-logo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex-shrink: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-item {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-img {
      width: 7rem;
      height: auto;
      object-fit: cover;
      flex-shrink: 0;
    }

    &-wrap {
      display: flex;
      flex-direction: column;

      p {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 120%;
      }

      span {
        font-weight: 800;
        font-size: 3.4rem;
        line-height: 105%;
        text-transform: uppercase;
      }
    }
  }

  .swiper-pagination {
    position: relative;
    bottom: unset;
    left: unset;
    transform: unset;
    margin: 2rem auto 0 auto;
  }
}

.request {

  &__inner {
    background-color: var(--primary-black);
    padding: 6rem 14rem 7rem;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      width: 63.6rem;
      height: 63.5rem;
      position: absolute;
      right: -31.8rem;
      bottom: -27.1rem;
      background-image: url(./../images/component/c-3.svg);
      background-repeat: no-repeat;
      background-size: 63.6rem 63.5rem;
      background-position: 100%;
    }
  }

  &__title {
    margin-bottom: 4rem;
    width: auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &-wrap {
      display: flex;
      gap: 2rem;
    }
  }
}

.path {

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    // width: 40.5rem;

    &-num {
      font-family: 'Winter Sans Trial';
      font-weight: 800;
      font-size: 12rem;
      line-height: 105%;
      -webkit-text-stroke: 0.1rem var(--primary-black);
      color: transparent;
      position: relative;
      z-index: 1;
      transition: all 0.3s ease;
    }

    &-img {
      margin-top: -10.3rem;
      max-width: 40.5rem;
      width: 100%;
      height: 40.5rem;
      flex-shrink: 0;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 125%;
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background-color: var(--primary-black);
        border-radius: 50%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        display: block;
        width: 23.3rem;
        height: 0.3rem;
        background-image: url(./../images/component/dashed.svg);
        background-repeat: repeat;
        background-size: cover;
        background-position: 100% 100%;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    &-title {
      display: flex;
      gap: 1rem;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 100%;

      &::before {
        content: "";
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background-color: var(--primary-accent);
      }
    }

    &-text {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 120%;
      max-width: 37rem;
    }
  }

  .swiper-slide-active .path__item-num {
    -webkit-text-stroke: 0.1rem var(--primary-accent);
    color: var(--primary-accent);
  }

  // .swiper-slide {
  //   max-width: 40.5rem;
  //   margin-right: calc((100% - (40.5rem * 3)) / 2) !important;
  // }

  .swiper-slide {
    // max-width: 40.5rem;
    // width: 100% !important;
    // margin-right: 23.3rem !important;

    &:nth-last-child(3) {

      .path__item-img::before,
      .path__item-img::after {
        display: none;
      }
    }
  }

  .swiper-slide-prev {
    // margin-right: 0 !important;
  }
}

.stage {

  &__title {
    margin-bottom: 3rem;
    max-width: 38rem;
    width: 100%;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(17, 1fr);
    gap: 2rem;
    aspect-ratio: 27/17;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    padding: 3rem 3rem 4rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--primary-accent);

      .stage__item-elem {
        transform: rotate(90deg);
        opacity: 0;
      }

      .stage__item-body {
        grid-template-rows: 1fr;
        padding-top: 2rem;
      }

      .stage__item-title {
        color: var(--white);
      }

      .stage__item-text {
        color: var(--white);
      }
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -1rem;
    }

    &-num {
      font-family: 'Winter Sans Trial';
      font-weight: 800;
      font-size: 6.4rem;
      line-height: 105%;
    }

    &-elem {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6rem;
      height: 6rem;
      border: 0.1rem solid var(--primary-black-30);
      border-radius: 50%;
      transition: all 0.3s ease;

      i {
        font-size: 1.4rem;
        line-height: 100%;
      }
    }

    &-title {
      max-width: 35.5rem;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 120%;
      letter-spacing: -0.02em;
      transition: all 0.3s ease;
    }

    &-body {
      display: grid;
      grid-template-rows: 0fr;
      transition: all 0.3s ease;
    }

    &-text {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 120%;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    &:nth-child(1) {
      grid-column: 1/11;
      grid-row: 1/11;
    }

    &:nth-child(2) {
      grid-column: 11/18;
      grid-row: 1/8;
    }

    &:nth-child(3) {
      grid-column: 18/28;
      grid-row: 1/11;
    }

    &:nth-child(4) {
      grid-column: 11/18;
      grid-row: 8/15;
    }

    &:nth-child(5) {
      grid-column: 18/25;
      grid-row: 11/18;
    }
  }
}