.objects {
  &__slider {
    .catalogues__item {
      width: 100%;
    }
  }

  .case__body-video {
    z-index: 2;
  }

  .case__body-items {
    opacity: 1;
    z-index: 2;
  }

  .case__body-pic {
    z-index: 1;
  }

  .case__head-text {
    -webkit-line-clamp: none;
  }

  .advan__head-content {
    padding: 7rem;
  }

  .advan__head-content {
    width: 100%;
    height: 28.4rem;
  }

  .advan__head-content::before {
    right: unset;
    left: 0;
    width: 5rem;
    height: 5rem;
  }

  .advan__slider-wrap {
    width: calc(100% - 7rem);
    height: 49.7rem;
    margin: -21.4rem 0 0 auto;
  }

  .advan__slider-img {
    width: 100%;
    height: 100%;
  }
}

.plan {
  padding-top: 5rem;
  background-color: var(--white);
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 12rem;
    height: 12rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwIiBoZWlnaHQ9IjEyMiIgdmlld0JveD0iMCAwIDEyMCAxMjIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjA5MDg4NTEgOC41MTE4Nkw4LjE3MzY5IDBIMjIuOTgyMUwwLjA5MTAwOTQgMjMuMTkyOVY4LjUxMTg2SDAuMDkwODg1MVpNMTIwIDE1LjkzNzVMMTQuODA4NCAxMjEuMTUxSDBMMTIwIDEuMjU2NDhWMTUuOTM3NVpNMTIwIDQ0Ljg2NjZMNDMuODk3NCAxMjEuMTUxSDI5LjA4ODlMMTIwIDMwLjE4NThWNDQuODY2OFY0NC44NjY2Wk0xMjAgNzIuNzY1Mkw3MS45NzIgMTIxLjE1MUg1Ny4xNjM2TDEyMCA1OC4wODQzVjcyLjc2NTJIMTIwWk0xMjAgMTAxLjg0TDEwMC42MjMgMTIxLjE1MUg4NS44MTQ1TDEyMCA4Ny4xNTk1VjEwMS44NDFMMTIwIDEwMS44NFpNMC4wOTA4ODUxIDk0LjcyODFMOTQuNjY1OSAwSDEwOS40NzRMMC4wOTA4ODUxIDEwOS40MDlWOTQuNzI4MVpNMC4wOTA4ODUxIDY1LjU0NTRMNjQuODk5MyAwSDc5LjcwNzdMMC4wOTA4ODUxIDgwLjIyNjRWNjUuNTQ1NFpNMC4wOTA4ODUxIDM2LjkxNDhMMzYuODI0NiAwSDUxLjYzM0wwLjA5MTAwOTQgNTEuNTk1NlYzNi45MTQ2TDAuMDkwODg1MSAzNi45MTQ4WiIgZmlsbD0iIzMxMkQyRCIvPg0KICAgIDwvc3ZnPg0KICAgIA==);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
  }

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/4;
    position: relative;
    z-index: 1;
  }

  &__title {
    width: auto;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    grid-column: 1/11;
    grid-row: 1/6;
  }
}

.objects-s__slider {
  max-width: 83rem;
  width: 100%;
  height: 100%;

  .case__body-pic {
    display: block;
    width: 100%;
  }
}